
<!DOCTYPE html>
<html xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <h2 class="text-center"> Them Phieu Giam Gia</h2>
    <form th:action="@{/SavePhieuGiamGia}" method="post" class="" th:object="${pgg}">
        <div>

        </div>
    </form>

</div>




</body>
</html>