<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

        <h2 class="">Danh Sách Phiếu Giảm Giá</h2>
        <a th:href="@{/admin/addPhieuGiamGia}" class="btn btn-outline-danger">+</a>
<table class="table table-striped table-hover">
    <thead class="text-center">
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã</th>
        <th scope="col">So Luong</th>
        <th scope="col">Hinh Thuc Giam</th>
        <th scope="col">Don Toi Thieu</th>
        <th scope="col">Gia Tri Giam</th>
        <th scope="col">Giam Toi Da</th>
        <th scope="col">Ngay Bat Dau</th>
        <th scope="col">Ngay Ket Thuc</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">Hành Động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="phieugiamgia, status :${lstPgg}" class="text-center">
        <td th:text="${status.index + 1}"></td>
        <td th:text="${phieugiamgia.ma}"></td>
        <td th:text="${phieugiamgia.soLuong}"></td>
        <td>
            <span th:if="${phieugiamgia.hinhThucGiam} == true"> Tien mat</span>
            <span th:if="${phieugiamgia.hinhThucGiam} == false"> %</span>
        </td>

        <td th:text="${phieugiamgia.donToiThieu}"></td>
        <td th:text="${phieugiamgia.giaTriGiam}"></td>
        <td th:text="${phieugiamgia.giamToiDa}"></td>
        <td th:text="${#dates.format(phieugiamgia.ngayBatDau, 'dd/MM/yyyy')}"></td>
        <td th:text="${#dates.format(phieugiamgia.ngayKetThuc, 'dd/MM/yyyy')}"></td>
        <td>
            <span th:if="${phieugiamgia.trangThai} == 1">Ngung Hoạt Động</span>
            <span th:if="${phieugiamgia.trangThai} == 0">Hoạt Động</span>
        </td>
        <td>
            <a th:href="@{/admin/UpdatePhieuGiamGia/{id}(id=${pgg.id})}" class="btn btn-outline-success"
               style="background-color: #28a745">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: #f0f0f0">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                </svg>
            </a>
        </td>

    </tr>
    </tbody>
</table>

</html>
