<footer class="text-white" style="background-color: #333; padding: 30px 0;" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <!-- Logo và giới thiệu -->
            <div class="col-md-4">
                <h3 class="mb-4">ShoeSeeShop - Cửa hàng cung cấp giày thể thao Chính Hãng</h3>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"
                         alt="Logo" style="width: 50px; height: auto;">
                    Chúng tôi chuyên cung cấp các loại giày chất lượng cao, đa dạng phong cách thể thao. Đảm bảo bạn luôn tìm được đôi giày ưng ý tại cửa hàng của chúng tôi.
                </p>
            </div>

            <!-- Liên hệ -->
            <div class="col-md-4">
                <h4 class="mb-4">Liên Hệ</h4>
                <ul class="list-unstyled">
                    <li>
                        <i class="bi bi-geo-alt-fill"></i> Địa chỉ: 123 Đường ABC, Quận XYZ, Thành phố Hồ Chí Minh
                    </li>
                    <li>
                        <i class="bi bi-telephone-fill"></i> Điện thoại: 0901 234 567
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill"></i> Email: info@giaydep.vn
                    </li>
                </ul>
            </div>

            <!-- Theo dõi -->
            <div class="col-md-4">
                <h4 class="mb-4">Theo Dõi Chúng Tôi</h4>
                <ul class="list-unstyled d-flex">
                    <li class="me-3">
                        <a href="#" class="text-white"><i class="bi bi-facebook"></i> Facebook</a>
                    </li>
                    <li class="me-3">
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a href="#" class="text-white"><i class="bi bi-youtube"></i> YouTube</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 Giày Đẹp. Tất cả quyền được bảo lưu.</p>
        </div>
    </div>
</footer>
