<header id="header" class="site-header text-white" th:fragment="header" style="background-color: #FF5722; padding: 10px 0;" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>

        .input-group input.form-control,
        .input-group button.btn {
            border: none;
            outline: none;
            box-shadow: none;
        }
        .input-group {
            margin: 0;
            padding: 0;
        }
    </style>
    <nav id="header-nav" class="navbar navbar-expand-lg">
        <div class="container-lg">
            <div class="d-flex align-items-center">
                <a href="/Client" style="display: inline-block;">
                    <img class="navbar-brand mx-4 mb-3"
                         src="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"
                         alt="Logo"
                         style="width: 60px; height: auto;"
                    />
                </a>

                <span class="mt-3 text-4xl font-bold text-orange-600">
                    <span class="text-4xl font-normal text-orange-300"></span>
                </span>
                <div class="nav-item me-3">
                    <form class="d-flex" style="width: 600px;">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi bi-search"></i> <!-- Bootstrap Icons search icon -->
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar">

                <div class="offcanvas-body">
                    <ul id="navbar" class="navbar-nav fw-bold justify-content-end align-items-center flex-grow-1">
                        <!-- Thanh tìm kiếm -->
                        <li class="nav-item">
                            <a class="nav-link me-5" style="color: white;" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-5" style="color: white;" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-5" style="color: white;" href="#">Sale</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-items ps-0 ps-md-5">
                <ul class="d-flex justify-content-end list-unstyled align-items-center m-0">
                    <li class="pe-3">
                        <a href="login" class="border-0">
                            <i class="bi bi-person" style="color: white; font-weight: bold;"></i>
                        </a>
                    </li>
                    <li class="pe-3">
                        <a href="/gio-hang" class="search-item border-0" data-bs-toggle="collapse" data-bs-target="#search-box"
                           aria-label="Toggle navigation">
                            <i class="bi bi-cart" style="color: white; font-weight: bold;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
