<!-- admin/fragments/sidebar.html -->
<div class="sidebar pe-4 pb-3" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar bg-light navbar-light">

        <div class="flex mt-10">
            <img class="navbar-brand mx-4 mb-3"
                 src="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"
                 alt="Logo"
                 style="width: 30%; height: auto;"/>
            <span class="mt-3 see-custom">
        <span class="font-bold text-orange-500 text-5xl">Se</span><span class="text-5xl text-orange-500">e</span>
    </span>
        </div>



        <div class="navbar-nav w-100 mt-10">
            <a th:href="@{/admin/thong-ke}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Thống kê</a>
            <a th:href="@{/admin/ban-hang-tai-quay}" class="nav-item nav-link"><i class="bi bi-shop-window"></i>Bán hàng tại quầy</a>

            <a th:href="@{/admin/san-pham}" class="nav-item nav-link"><i class="bi bi-bucket"></i></i>Sản phẩm</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-archive"></i></i>Thuộc tính</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{/admin/chat-lieu}" class="dropdown-item">Chất liệu</a>
                    <a th:href="@{/admin/co-giay}" class="dropdown-item">Cổ giày</a>
                    <a th:href="@{/admin/de-giay}" class="dropdown-item">Đế giày</a>
                    <a th:href="@{/admin/kich-co}" class="dropdown-item">Kích cỡ</a>
                    <a th:href="@{/admin/mau-sac}" class="dropdown-item">Màu sắc</a>
                    <a th:href="@{/admin/nsx}" class="dropdown-item">Nhà sản xuất</a>
                    <a th:href="@{/admin/thuong-hieu}" class="dropdown-item">Thương hiệu</a>
                </div>
            </div>
            <a th:href="@{/admin/hoa-don}" class="nav-item nav-link"><i class="bi bi-receipt-cutoff"></i>Hóa Đơn</a>
            <a th:href="@{/admin/phieu-giam-gia}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Phiếu Giảm Giá </a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Tài Khoản</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{/admin/nhan-vien}" class="dropdown-item"><i class="bi bi-person-fill"></i>Nhân Viên</a>
                    <a th:href="@{/admin/khach-hang}" class="dropdown-item"><i class="fas fa-user-tie"></i>
                        Khách Hàng</a>
                </div>
            </div>
        </div>
    </nav>
</div>

