<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
</head>
<body>

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <!-- Navbar End -->
        <div class="form-container">
            <h2 class="form-title">Thêm mới sản phẩm</h2>
            <form th:action="@{/admin/san-pham-chi-tiet/add}" method="post">
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <select id="sanPham">
                        <option selected>Chọn sản phẩm</option>
                        <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.id}" th:text="${sanPham.ten}"></option>
                    </select>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label>Cổ giày</label>
                        <select id="coGiay">
                            <option selected>Chọn cổ giày</option>
                            <option th:each="coGiay : ${coGiays}" th:value="${coGiay.id}" th:text="${coGiay.ten}"></option>
                        </select>
                    </div>

                    <div class="col">
                        <label>Đế giày</label>
                        <select id="deGiay">
                            <option selected>Chọn đế giày</option>
                            <option th:each="deGiay : ${deGiays}" th:value="${deGiay.id}" th:text="${deGiay.ten}"></option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label>Chất liệu</label>
                        <select id=chatLieu>
                            <option selected>Chọn chất liệu</option>
                            <option th:each="chatLieu : ${chatLieus}" th:value="${chatLieu.id}" th:text="${chatLieu.ten}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Nhà sản xuất</label>
                        <select id="nhaSanXuat">
                            <option selected>Chọn nhà sản xuất</option>
                            <option th:each="nsx : ${nhaSanXuats}" th:value="${nsx.id}" th:text="${nsx.ten}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="moTa">Mô tả sản phẩm</label>
                    <textarea class="form-control" id="moTa" name="moTa" rows="4" placeholder="Nhập mô tả"></textarea>
                </div>

                <h2 class="form-subtitle">Màu sắc và kích cỡ</h2>
                <div class="row form-group">
                    <div class="col">
                        <label>Kích cỡ</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sizeModal">
                                <i class="fas fa-plus"></i> Chọn kích cỡ
                            </button>
                            <div id="selectedSizes" class="selected-items"></div>
                        </div>
                    </div>
                    <div class="col">
                        <label>Màu sắc</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#colorModal">
                                <i class="fas fa-palette"></i> Chọn màu sắc
                            </button>
                            <div id="selectedColors" class="selected-items"></div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="create-product-btn btn btn-primary">Tạo sản phẩm</button>
        </div>
        <div id="productDetails"></div>
    </div>
    <!-- Modal màu sắc -->
    <div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="colorModalLabel">Chọn màu sắc</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="colorList" th:each="mauSac : ${mauSacs}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   th:value="${mauSac.id}"
                                   th:data-color="${mauSac.ten}">
                            <label class="form-check-label color-container">
                                <span class="color-box" th:style="'background-color: ' + ${mauSac.ten}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveColors">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Kích cỡ-->
    <div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizeModalLabel">Chọn kích cỡ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- List of sizes with checkboxes -->
                    <div id="sizeList" th:each="kichCo : ${kichCos}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${kichCo.id}">
                            <label class="form-check-label" th:text="${kichCo.ten}"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveSizes">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thông Báo -->
    <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger fs-4 fw-bold" id="validationModalLabel"><i class="fa-solid fa-circle-exclamation"></i>Thông Báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fs-5">
                    Vui lòng chọn đầy đủ thuộc tính sản phẩm.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Template Javascript -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/spct-add.js}"></script>
</body>
</html>