<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
    <link th:href="@{/assets/css/sanPhamHienThi.css}" rel="stylesheet"/>

</head>
<body>
<!-- Sidebar Start -->
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<!-- Sidebar End -->
<!-- Content Start -->
<!-- Navbar Start -->
<div class="content flex-grow ml-64 p-4 bg-gray-200">
    <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
    <!-- Navbar End -->

    <h1 class="text-left text-4xl font-bold mb-4">Danh sách sản phẩm chi tiết</h1>

    <div class="container mx-auto bg-white h-75 w-full m-auto mt-5 p-6 rounded-lg shadow-md">
        <h2 class="text-left text-2xl font-bold mb-4"><i class="fa-solid fa-filter"></i>Tìm kiếm và bộ lọc</h2>
        <form th:action="@{'/admin/san-pham/' + ${sanPhamId}}" method="get">
            <div class="mb-3 row">
                <div class="col-8">
                    <input type="text" class="form-control" name="keyword" th:value="${keyword}"
                           placeholder="Nhập thông tin tìm kiếm">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary w-100" type="submit">Tìm kiếm</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-secondary w-100" th:href="@{'/admin/san-pham/'+${sanPhamId}}">Reset</a>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <select class="form-select" name="coGiay">
                        <option value="" selected>Chọn cổ giày</option>
                        <option th:each="coGiay : ${coGiays}"
                                th:value="${coGiay.id}"
                                th:text="${coGiay.ten}"
                                th:selected="${coGiay.id == coGiayId}"></option>
                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select" name="deGiay">
                        <option value="" th:text="'Chọn đế giày'"></option>
                        <option th:each="deGiay : ${deGiays}"
                                th:value="${deGiay.id}"
                                th:text="${deGiay.ten}"
                                th:selected="${deGiay.id == deGiayId}"></option>
                    </select>
                </div>

                <div class="col-2">
                    <select class="form-select" name="chatLieu">
                        <option value="" th:text="'Chọn chất liệu'"></option>
                        <option th:each="chatLieu : ${chatLieus}"
                                th:value="${chatLieu.id}"
                                th:text="${chatLieu.ten}"
                                th:selected="${chatLieu.id == chatLieuId}"></option>
                    </select>
                </div>

                <div class="col-2">
                    <select class="form-select" name="kichCo">
                        <option value="" th:text="'Chọn kích cỡ'"></option>
                        <option th:each="kichCo : ${kichCos}"
                                th:value="${kichCo.id}"
                                th:text="${kichCo.ten}"
                                th:selected="${kichCo.id == kichCoId}"
                        ></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Lọc theo khoảng giá</label>
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <input type="text" class="form-control w-100" id="minPriceInput" name="minPrice" th:value="${minPrice}" placeholder="Min">
                            <div id="minPriceError" class="text-danger"></div>
                        </div>
                        to
                        <div class="ms-2">
                            <input type="text" class="form-control w-100" id="maxPriceInput" name="maxPrice" th:value="${maxPrice}" placeholder="Max">
                            <div id="maxPriceError" class="text-danger"></div>
                        </div>
                    </div>
                </div>
            </div>

        </form>



    </div>

    <div th:if="${!hasResults}" class="alert alert-info">
        Không có kết quả tìm kiếm phù hợp.
    </div>

    <div th:if="${hasResults}" class="w-full m-auto mt-5 bg-white p-6 rounded-lg shadow-md mb-11">
        <table id="productTable" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Màu sắc</th>
                <th scope="col">Kích cỡ</th>
                <th scope="col">Cân nặng</th>
                <th scope="col">Loại cổ</th>
                <th scope="col">Loại đế</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spct, state : ${sanPhamChiTiets}">
                <th scope="row" th:text="${state.count}"></th>
                <td th:text="${spct.ma}"></td>
                <td th:text="${spct.ten}"></td>
                <td th:text="${spct.formattedGiaBan}"></td>
                <td>
                    <span class="color-box" th:style="'background-color: ' + ${spct.mauSac.ten}"></span>
                </td>
                <td th:text="${spct.kichCo.ten}"></td>
                <td th:text="${spct.formattedCanNang}"></td>
                <td th:text="${spct.coGiay.ten}"></td>
                <td th:text="${spct.deGiay.ten}"></td>
                <td th:text="${spct.soLuong}"></td>
                <td>
                    <span th:if="${spct.trangThai == 1}">Đang kinh doanh</span>
                    <span th:if="${spct.trangThai == 0}">Ngừng kinh doanh</span>
                </td>
                <td>
                    <a th:href="@{'/admin/san-pham/' + ${spct.sanPham.id} + '/update/' + ${spct.id}}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
<!--                <td>-->
<!--                    <div class="form-check form-switch">-->
<!--                        <input class="form-check-input trang-thai-toggle" type="checkbox"-->
<!--                               th:data-id="${spct.id}" th:checked="${spct.trangThai == 1}"-->
<!--                               th:data-san-pham-id="${sanPham.id}">-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <nav th:if="${hasResults}">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}"
                    th:classappend="${currentPage == i} ? 'active' : ''">
                    <a class="page-link" th:href="@{${keyword != null && keyword!='' ? '?keyword='+keyword+'&':'?'}+'pageNo=' + ${i}}" th:text="${i}"></a>
                </li>
                <li class="page-item" }>
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/postcss7-compat@latest"></script>
<!-- DataTables JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Template Javascript -->
<script th:src="@{/assets/js/sanPhamChiTiet.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
