<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">

</head>
<body>
<div id="notification" class="notification">
    Sản phẩm của bạn đã lưu thành công !
    <div id="progress-bar" class="progress-bar"></div>
</div>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <!-- Navbar End -->
        <div class="form-container">
            <form th:action="@{/admin/san-pham-chi-tiet/add}" method="post">
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <div class="input-group">
                        <select id="sanPham" class="form-control">
                            <option selected>Chọn sản phẩm</option>
                            <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.id}"
                                    th:text="${sanPham.ten}"></option>
                        </select>
                        <button type="button" class="btn btn-secondary custom-btn" data-bs-toggle="modal"
                                data-bs-target="#themMoiSanPham">
                            <i class="bi bi-plus custom-icon"></i>
                        </button>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <label>Cổ giày</label>
                        <div class="input-group">
                            <select id="coGiay" class="form-control">
                                <option selected>Chọn cổ giày</option>
                                <option th:each="coGiay : ${coGiays}" th:value="${coGiay.id}"
                                        th:text="${coGiay.ten}"></option>
                            </select>
                            <button type="button" class="btn btn-secondary custom-btn" data-bs-toggle="modal"
                                    data-bs-target="#themMoiCoGiay">
                                <i class="bi bi-plus custom-icon"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <label>Đế giày</label>
                        <div class="input-group">
                            <select id="deGiay" class="form-control">
                                <option selected>Chọn đế giày</option>
                                <option th:each="deGiay : ${deGiays}" th:value="${deGiay.id}"
                                        th:text="${deGiay.ten}"></option>
                            </select>
                            <button type="button" class="btn btn-secondary custom-btn" data-bs-toggle="modal"
                                    data-bs-target="#themMoiDeGiay">
                                <i class="bi bi-plus custom-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <label>Chất liệu</label>
                        <div class="input-group">
                            <select id="chatLieu" class="form-control">
                                <option selected>Chọn chất liệu</option>
                                <option th:each="chatLieu : ${chatLieus}" th:value="${chatLieu.id}"
                                        th:text="${chatLieu.ten}"></option>
                            </select>
                            <button type="button" class="btn btn-secondary custom-btn" data-bs-toggle="modal"
                                    data-bs-target="#themMoiChatLieu">
                                <i class="bi bi-plus custom-icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <label>Nhà sản xuất</label>
                        <div class="input-group">
                            <select id="nhaSanXuat" class="form-control">
                                <option selected>Chọn nhà sản xuất</option>
                                <option th:each="nsx : ${nhaSanXuats}" th:value="${nsx.id}"
                                        th:text="${nsx.ten}"></option>
                            </select>
                            <button type="button" class="btn btn-secondary custom-btn" data-bs-toggle="modal"
                                    data-bs-target="#themMoiNSX">
                                <i class="bi bi-plus custom-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="moTa">Mô tả sản phẩm</label>
                    <textarea class="form-control" id="moTa" name="moTa" rows="4"
                              placeholder="Nhập mô tả"></textarea>
                </div>

                <h2 class="form-subtitle">Màu sắc và kích cỡ</h2>
                <div class="row form-group">
                    <div class="col">
                        <label>Kích cỡ</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sizeModal">
                                <i class="fas fa-plus"></i> Chọn kích cỡ
                            </button>
                            <button type="button" class="btn btn-secondary" id="addSize" data-bs-toggle="modal" data-bs-target="#addKichCo">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div id="selectedSizes" class="selected-items"></div>
                    </div>
                    <div class="col">
                        <label>Màu sắc</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#colorModal">
                                <i class="fas fa-palette"></i> Chọn màu sắc
                            </button>
                            <button type="button" class="btn btn-secondary" id="addColor" data-bs-toggle="modal" data-bs-target="#addMauSac">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div id="selectedColors" class="selected-items"></div>
                    </div>
                </div>

            </form>
            <button class="create-product-btn btn btn-primary">Tạo sản phẩm</button>
        </div>
        <div id="productDetails"></div>
    </div>
    <!-- Modal màu sắc -->
    <div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="colorModalLabel">Chọn màu sắc</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="colorList" class="row">
                        <div class="col-4 mb-3" th:each="mauSac : ${mauSacs}">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox"
                                       th:value="${mauSac.id}"
                                       th:data-color="${mauSac.ten}"
                                       th:id="'color_' + ${mauSac.id}">
                                <!-- Thẻ label bao ngoài, hiển thị màu sắc -->
                                <label class="form-check-label color-container" th:for="'color_' + ${mauSac.id}"
                                       th:style="'background-color: ' + ${mauSac.ten} + '; padding: 10px; border-radius: 4px; width: 100%; height: 50px; display: flex; align-items: center; justify-content: center;'">
                                    <!-- Hiển thị mô tả màu bên trong -->
                                    <span class="color-description text-white" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${mauSac.moTa}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveColors">Lưu</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal Kích cỡ-->
    <div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizeModalLabel">Chọn kích cỡ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="sizeList" class="row">
                        <div class="col-2 mb-3" th:each="kichCo : ${kichCos}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:value="${kichCo.id}"
                                       th:id="'kichCo_' + ${kichCo.id}">
                                <label class="form-check-label" th:for="'kichCo_' + ${kichCo.id}"
                                       th:text="${kichCo.ten}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveSizes">Lưu</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal thêm mới màu sắc -->
    <div class="modal fade" id="addMauSac" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Thêm Màu Sắc Mới</h5>
                </div>
                <div class="modal-body">
                    <label for="colorPicker">Chọn màu sắc:</label>
                    <input type="color" id="colorPicker" value="#ff0000" style="width: 100%; height: 50px; border: none; cursor: pointer;">

                    <label for="tenMauSac" class="mt-2">Tên màu sắc (Mã Hex):</label>
                    <input type="text" id="tenMauSac" class="form-control mt-2">
                    <div id="tenMauSacError" class="text-danger" style="display: none;"></div>

                    <label for="moTaMauSac" class="mt-2">Mô tả:</label>
                    <input type="text" id="moTaMauSac" class="form-control mt-2">
                    <div id="moTaMauSacError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveColor">Thêm màu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal thêm mới kích cỡ -->
    <div class="modal fade" id="addKichCo" tabindex="-1" aria-labelledby="kichCoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleKichCo">Thêm mới kích cỡ</h5>
                </div>
                <div class="modal-body">
                    <label for="tenMauSac" class="mt-2">Nhập kích cỡ (size châu Á) :</label>
                    <input type="text" id="tenKichCo" class="form-control mt-2">
                    <div id="tenKichCoError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="saveKichCo">Lưu mới</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thông Báo lựa chọn thuộc tính -->
    <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger fs-4 fw-bold" id="validationModalLabel"><i
                            class="fa-solid fa-circle-exclamation"></i>Thông Báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fs-5">
                    Vui lòng chọn đầy đủ thuộc tính sản phẩm.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thêm mới sản phẩm -->
<div class="modal fade" id="themMoiSanPham" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addProductForm">
                    <div class="mb-3">
                        <label for="tenSanPham" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="tenSanPham" placeholder="Nhập tên sản phẩm">
                        <div id="tenSanPhamError" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="thuongHieu" class="form-label">Thương hiệu</label>
                        <select class="form-control" id="thuongHieu" required>
                            <option value="" disabled selected>Chọn thương hiệu</option>
                            <th:block th:each="thuongHieu : ${thuongHieus}">
                                <option th:value="${thuongHieu.id}" th:text="${thuongHieu.ten}"></option>
                            </th:block>
                        </select>
                        <div id="thuongHieuError" class="text-danger" style="display: none;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuuSanPham">Lưu sản phẩm</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm mới cổ giày -->
<div class="modal fade" id="themMoiCoGiay" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelAddCoGiay">Thêm mới cổ giày</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCoGiayForm">
                    <div class="mb-3">
                        <label for="tenCoGiay" class="form-label">Tên cổ giày</label>
                        <input type="text" class="form-control" id="tenCoGiay" placeholder="Nhập tên cổ giày">
                        <div id="tenCoGiayError" class="text-danger" style="display: none;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuuCoGiay">Lưu cổ giày</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm mới đế giày -->
<div class="modal fade" id="themMoiDeGiay" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelDeGiay">Thêm mới đế giày</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDeGiayForm">
                    <div class="mb-3">
                        <label for="tenDeGiay" class="form-label">Tên đế giày</label>
                        <input type="text" class="form-control" id="tenDeGiay" placeholder="Nhập loại đế giày">
                        <div id="tenDeGiayError" class="text-danger" style="display: none;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuuDeGiay">Lưu đế giày</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm mới chất liệu -->
<div class="modal fade" id="themMoiChatLieu" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelAddChatLieu">Thêm mới chất liệu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addChatLieuForm">
                    <div class="mb-3">
                        <label for="tenDeGiay" class="form-label">Tên chất liệu</label>
                        <input type="text" class="form-control" id="tenChatLieu" placeholder="Nhập tên chất liệu">
                        <div id="tenChatLieuError" class="text-danger" style="display: none;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuuChatLieu">Lưu chất liệu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm mới nsx -->
<div class="modal fade" id="themMoiNSX" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelAddNSX">Thêm mới nhà sản xuất</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addNSXForm">
                    <div class="mb-3">
                        <label for="tenNSX" class="form-label">Tên nhà sản xuất</label>
                        <input type="text" class="form-control" id="tenNSX" placeholder="Nhập tên nhà sản xuất">
                        <div id="tenNSXError" class="text-danger" style="display: none;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuuNSX">Lưu NSX</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal sửa tất cả sản phẩm -->
<div class="modal fade" id="editAllProductsModal" tabindex="-1" role="dialog"
     aria-labelledby="editAllProductsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAllProductsModalLabel">Sửa thông số sản phẩm</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editAllCanNang">Nhập cân nặng mới :</label>
                    <input type="text" class="form-control" id="editAllCanNang">
                    <div class="invalid-feedback" id="errorCanNang"></div>
                </div>
                <div class="form-group">
                    <label for="editAllGiaBan">Nhập giá bán mới</label>
                    <input type="text" class="form-control" id="editAllGiaBan">
                    <div class="invalid-feedback" id="errorGiaBan"></div>
                </div>
                <div class="form-group">
                    <label for="editAllSoLuong">Nhập số lượng mới</label>
                    <input type="text" class="form-control" id="editAllSoLuong">
                    <div class="invalid-feedback" id="errorSoLuong"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveAllChanges">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Template Javascript -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/spct-add.js}"></script>
<script th:src="@{/assets/js/sanPham.js}"></script>

</body>
</html>