<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOSE SEE</title>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body class="bg-gray-100">
<div class="flex justify-center">
    <div class="container bg-white w-[70%] p-2 rounded-lg shadow-md mt-32 flex gap-40">
       <div class="grid gap-1 grid-cols-1">
           <div>
               <h1 class="text-orange-700 text-xl m-5">Địa chỉ đơn hàng</h1>
           </div>
           <div class="diaChiKhachHang ml-5 mb-5" id="diaChiKhachHang">

           </div>
       </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        let selectedProducts = JSON.parse(localStorage.getItem('selectedProducts')) || [];
        console.log(selectedProducts); // Log ra danh sách sản phẩm đ

        function getKhachHang() {
            $.ajax({
                url: '/api/session/user',
                method: 'GET',
                success: function (response) {
                    let idKhachHang = response.id;
                    getDuLieu(idKhachHang);
                },

            });
        }

        function getDuLieu(idKhachHang) {
            $.ajax({
                url: `/api/gio-hang/cho-thanh-toan/${idKhachHang}`,
                method: 'GET',
                success: function (response) {
                        thongTinNguoiMua(response.diaChiKH[0]);
                },

            });
        }

        function thongTinNguoiMua(dckh) {
            if(dckh.trangThai == 1)
            $('#diaChiKhachHang').html(`
                <div class="flex">
                    <p class="font-bold">${dckh.idKH.ten} |<span class="font-normal ml-1">${dckh.idKH.sdt}</span> <span class="font-normal ml-4">${dckh.soNha}, ${dckh.phuongXa}, ${dckh.quanHuyen}, ${dckh.thanhPho}</span></p>
                    <button class=" ml-10 bg-blue-500 hover:bg-blue-700 text-white px-2 rounded">
                        Mặc định
                    </button>
                    <a class="ml-10 text-blue-700">Thay đổi</a>
                </div>
            `);
        }

        getKhachHang();
    });
</script>
</body>
</html>
