<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<div th:replace="~{client/fragmentsClient/head :: head}"></div>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="icon" type="image/svg+xml"
          href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <style>
        .voucher-disabled {
            opacity: 0.5;
            pointer-events: none;
            background-color: #f0f0f0;
        }

    </style>

</head>
<body class="bg-gray-100">
<div th:replace="~{client/fragmentsClient/header :: header}"></div>
<div>
    <div class="mt-20">
        <h4 class="flex justify-center font-bold text-3xl">Giỏ hàng của bạn</h4>
        <div class="flex justify-center mt-3">
            <div class="w-48 h-0.5 bg-orange-500"></div>
        </div>

    </div>

    <div class="grid gap-1 ml-2" style="grid-template-columns: 70% 30%;">
        <div>
            <div class="flex">
                <div class="container ml-[15%] bg-white  w-[80%] p-2 rounded-lg shadow-md mt-32 flex gap-40">
                    <div>
                        <input id="select-all-checkbox" type="checkbox" class="ml-5 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                    </div>
                    <div>Hình Ảnh</div>
                    <div>Sản phẩm</div>
                    <div>Tổng cộng</div>
                </div>
            </div>
            <div id="thongTinSP"></div>
            <div>
                <button type="button" id="delete-all" class="ml-[15%] mt-5 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5">Xóa tất cả</button>
                <button type="button" id="continue-shopping" class="ml-[54%] mb-10 mt-5 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"><a href="/shop">Tiếp tục mua hàng</a></button>
            </div>
        </div>

        <div class="container bg-white  w-[80%] h-[600px] p-2 rounded-lg shadow-md mt-32">
            <div>
                <h1 class="ml-2 text-2xl font-bold">Đơn hàng</h1>
                <div class="ml-3 w-80 h-0.5 bg-black"></div>
            </div>
            <div class="m-5">
                <p>Voucher: <button id="phieuGiamGia" class="text-blue-700 ml-10">Chọn mã giảm giá</button></p>
            </div>
            <div class="ml-3 w-80 h-0.5 bg-gray-200"></div>
            <div class="m-5">
                <div>
                    <p>Đơn hàng: <span id="donHang">0</span></p>
                    <p class="mt-5">Giảm: <span id="discount">0</span></p>
                </div>
            </div>
            <div class="ml-3 w-80 h-0.5 bg-gray-200"></div>
            <div>
                <h1 class="text-xl font-bold m-10">Tổng tiền: <span id="total">0</span></h1>
            </div>
            <div class="tiepTucSanPham">
                <button id="btnTiepTuc" type="button" class="tiepTuc ml-5 w-[90%] h-20 font-bold text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-300 rounded-lg text-xl px-5 py-2.5 opacity-50 cursor-not-allowed " onclick="window.location.href='/shop';" disabled >
                    Tiếp tục thanh toán
                </button>

            </div>
        </div>
    </div>
</div>

<div id="modalPhieuGiamGia" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen p-4">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full max-h-[60vh] flex flex-col">
            <div id="listPhieuGiamGia" class="bg-white px-4 pt-5 pb-4 flex-1 overflow-y-auto">
            </div>
            <div class="bg-gray-50 px-4 py-3 flex justify-end">
                <button id="huyPhieuGiamGia" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">Hủy</button>
                <button id="chonPhieuGiamGia" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Chọn</button>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/assets/js/Header.js}"></script>
<script>
    $(document).ready(function () {
        let discount = 0;
        let selectedProducts = JSON.parse(localStorage.getItem('selectedProducts')) || [];
        let sale = JSON.parse(localStorage.getItem('sale')) || [];
        let idGioHang = null;

        function getKhachHang() {
            $.ajax({
                url: '/api/session/user',
                method: 'GET',
                success: function (response) {
                    let idKhachHang = response.id;
                    getDuLieuGioHangVaGioHangChiTiet(idKhachHang);
                },
            });
        }

        $(document).on('click', 'input[name="phieuGiamGia"]', function() {
            const $this = $(this);
            const isChecked = $this.is(':checked');

            if (isChecked) {
                const previouslyChecked = $this.data('previouslyChecked');
                if (previouslyChecked) {
                    $this.prop('checked', false);
                    $this.data('previouslyChecked', false);
                    sale = [];
                    $("#discount").text("0 VNĐ");
                } else {
                    $('input[name="phieuGiamGia"]').data('previouslyChecked', false);
                    $this.data('previouslyChecked', true);
                    const item = $this.data('item');
                    sale = [item];
                    $("#discount").text(formatVND(item.giamToiDa));
                }
                localStorage.setItem('sale', JSON.stringify(sale));
                tinhTongTien();
            }
        });

        function getDuLieuGioHangVaGioHangChiTiet(idKhachHang) {
            $.ajax({
                url: `/api/gio-hang/detail/${idKhachHang}`,
                method: 'GET',
                success: function (response) {
                    const gioHangChiTiet = response.ghct;
                    const  gioHang = response.gh

                    idGioHang = gioHang.id;

                    var count = gioHangChiTiet.length ? gioHangChiTiet.length : 0;
                    document.getElementById('cart-count').textContent = count;

                    let list = "";
                    $("#thongTinSP").empty();

                    if (Array.isArray(gioHangChiTiet) && gioHangChiTiet.length > 0) {
                        for (let i = 0; i < gioHangChiTiet.length; i++) {
                            const item = gioHangChiTiet[i];
                            console.log(item)
                            list += `
                            <div id="thongTin" class="container ml-[15%] bg-white w-[80%] p-2 rounded-lg shadow-md mt-3 flex gap-32 h-36">
                                <div>
                                    <input type="checkbox" class="product-checkbox ml-5 mt-10 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" data-price="${item.sanPhamChiTiet.giaBan}" data-so-luong="${item.soLuong}" data-item='${JSON.stringify(item)}'>
                                </div>
                                <div class="w-24">
                                    <img src="${item.sanPhamChiTiet.anh}" alt="Ảnh" class="w-24 h-auto mt-2">
                                </div>
                                <div class="w-32">
                                    <div class="font-bold">${item.sanPhamChiTiet.ten}-${item.sanPhamChiTiet.mauSac.moTa}</div>
                                    <div class="text-red-500">${formatVND(item.sanPhamChiTiet.giaBan)}</div>
                                    <div>
                                        <input type="number"  max="${item.sanPhamChiTiet.soLuong}" class="soLuong-input bg-gray-100 w-[50%] border border-gray-300 rounded-md px-2 py-1" value="${item.soLuong}" min="1" data-id="${item.id}" id="soLuong-${item.id}" name="soLuong-${item.id}">
                                    </div>
                                    <div class="text-black">Size: ${item.sanPhamChiTiet.kichCo.ten}</div>

                                </div>
                                <div class=>
                                    <div class="mb-3 ml-2">${trangThaiSP(item.sanPhamChiTiet.trangThai)}</div>
                                    <div class="text-red-500 mb-3">${formatVND(item.soLuong * item.sanPhamChiTiet.giaBan)}</div>
                                   <div id="xoaSP">
                                        <button class="deleteSP ml-7" data-id="${item.id}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            `;
                        }
                        $("#thongTinSP").html(list);
                        $(".product-checkbox").off('change').on('change', function() {
                            xuLyThayDoiCheckbox();
                        });
                    } else {
                        list = "<p>Không có sản phẩm nào trong giỏ hàng.</p>";
                    }

                },
                error: function (error) {
                    console.error('Lỗi khi lấy dữ liệu:', error);
                }
            });

        }

        const getPhuongThucThanhToan = (tongTien) => {
            $.ajax({
                url: `/api/hoa-don/phuong-thuc-thanh-toan/${idHoaDon}`,
                method: 'GET',
                success: function (result) {

                    if (result && typeof result === 'object') {
                        let list = "";
                        $("#lichSuThanhToan").empty();

                        list += `
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">1</td>
                    <td class="px-6 py-4 whitespace-nowrap">${formatVND(tongTien)}</td>
                    <td class="px-6 py-4 whitespace-nowrap">${trangThaiThanhToan(result.trangThai)}</td>
                    <td class="px-6 py-4 whitespace-nowrap">${formatDate(result.ngayTao)}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                    ${loaiThanhToan(result.loaiThanhToan)}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="status bg-green-500 text-white rounded-lg px-4 py-2">${result.tenThanhToan}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">${result.ghiChu}</td>
                    <td class="px-6 py-4 whitespace-nowrap">${result.nguoiTao}</td>
                </tr>`;

                        $("#lichSuThanhToan").html(list);
                    } else {
                        console.error('Unexpected API response format:', result);
                    }
                },
                error: function (error) {
                    console.error('Lỗi Lịch sử thanh toán:', error);
                }
            });
        };

        function getPhieuGiamGia() {
            $.ajax({
                url: `/api/gio-hang/phieu-giam-gia`,
                method: 'GET',
                success: function (response) {
                    let list = "";
                    $("#listPhieuGiamGia").empty();

                    const tongTien = parseInt($("#donHang").text().replace(/\./g, '').replace(' VNĐ', ''));

                    response.forEach((phieuGiamGia, i) => {
                        const isDisabled = tongTien < phieuGiamGia.donToiThieu;
                        const disabledClass = isDisabled ? 'voucher-disabled' : '';

                        const hinhThucGiamDisplay = phieuGiamGia.hinhThucGiam ? `Giá trị giảm: ${phieuGiamGia.giaTriGiam}%` : '';

                        list += `
                    <div class="grid gap-0 grid-cols-2 border-1 border-gray-300 p-4 rounded-lg ${disabledClass}">
                        <div class="flex">
                            <img class="w-[70%] h-auto" src="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309">

                        </div>
                        <div class="flex">
                            <div>
                                <div>${phieuGiamGia.ten}</div>
                                <div>Giảm tối đa: ${formatVND(phieuGiamGia.giamToiDa)}</div>
                                <div>${hinhThucGiamDisplay}</div>
                                <div class="text-orange-500">Đơn tối thiểu: ${formatVND(phieuGiamGia.donToiThieu)}</div>
                                <div>HSD: ${phieuGiamGia.ngayKetThuc}</div>
                            </div>
                            <div class="mt-10">
                                <input type="radio" name="phieuGiamGia" value="${phieuGiamGia.id}" data-item='${JSON.stringify(phieuGiamGia)}' ${isDisabled ? 'disabled' : ''}>
                            </div>
                        </div>
                    </div>
                    <br>
                `;
                    });
                    $("#listPhieuGiamGia").html(list);
                },
            });
        }




        $("#delete-all").click(function() {
            $.ajax({
                url: `/api/gio-hang/delete-all-sp/${idGioHang}`,
                method: 'POST',
                success: function () {
                    getKhachHang();
                    xuLyThayDoiCheckbox();
                    getPhieuGiamGia();
                },

            });
        });

        $('#thongTinSP').on('click', '.deleteSP', function () {
            const clickedElement = $(this);
                const itemId = clickedElement.data('id');
                $.ajax({
                    url: `/api/gio-hang/delete-sp/${itemId}`,
                    method: 'POST',
                    success: function () {
                        getKhachHang();
                        xuLyThayDoiCheckbox();
                        getPhieuGiamGia();
                        showNotification("Xóa sản phẩm thành công", "thanhCong");
                    },
                });
        });

        function showConfirm(callback) {
            Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: "Bạn không thể hoàn tác hành động này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, tiếp tục!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    callback();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Đã hủy!',
                        'Hành động của bạn đã bị hủy.',
                        'error'
                    );
                }
            });
        }

        function showNotification(message, status) {
            var notification = document.getElementById('notification');
            var notificationMessage = document.getElementById('notification-message');
            var progressBar = document.getElementById('progress-bar');

            notification.className = 'notification'; // Reset class
            if (status === 'thanhCong') {
                notification.classList.add('thanhCong');
            } else if (status === 'thatBai') {
                notification.classList.add('thatBai');
            }

            if (message) {
                notificationMessage.textContent = message;
                notification.style.display = 'block';
                progressBar.style.width = '100%';

                setTimeout(function() {
                    progressBar.style.width = '0';
                }, 10);

                setTimeout(function() {
                    notification.style.display = 'none';
                    progressBar.style.width = '100%';
                }, 3010);
            }
        }


        $('#thongTinSP').on('change', '.soLuong-input', function () {
            const id = $(this).data('id');
            let SoLuongMoi = $(this).val();
            const max = parseInt($(this).attr('max'));

            if (SoLuongMoi > max) {
                SoLuongMoi = max;
                $(this).val(max);
            }

            $.ajax({
                url: `/api/gio-hang/update-so-luong-sp/${id}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ id: id, soLuong: SoLuongMoi }),
                success: function (response) {
                    getKhachHang();
                    getPhieuGiamGia();
                    tinhTongTien();
                },

            });
        });



        const formatVND = (tongtien) => {
            return tongtien.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
        }

        function updateContinueButton() {
            const totalAmount = parseInt($("#total").text().replace(/\./g, '').replace(' VNĐ', ''));
            const $continueButton = $("#btnTiepTuc");

            if (totalAmount > 0) {
                $continueButton.prop("disabled", false);
                $continueButton.removeClass("opacity-50 cursor-not-allowed");
                $continueButton.off('click').on('click', function() {
                    window.location.href = "/cho-thanh-toan";
                });
            } else {
                $continueButton.prop("disabled", true);
                $continueButton.addClass("opacity-50 cursor-not-allowed");
                $continueButton.off('click');
            }
        }


        const trangThaiSP = (tt) => {
            switch (tt) {
                case 1:
                    return '<span class="status bg-green-500 text-white rounded-lg px-1">Còn hàng</span>';
                case 2:
                    return '<span class="status bg-red-500 text-white rounded-lg px-1">Hết hàng</span>';
                default:
                    return 'Không xác định'
            }
        }

        function tinhTongTien() {
            let tongTien = 0;
            let tatCaDaChon = true;
            let tongCheckbox = 0;
            let discount = 0;

            const selectedPhieu = $("input[name='phieuGiamGia']:checked");

            $(".product-checkbox").each(function() {
                tongCheckbox++;
                if ($(this).is(":checked")) {
                    const gia = $(this).data('price');
                    const soLuong = $(this).data('so-luong');
                    tongTien += gia * soLuong;

                    if (selectedPhieu.length > 0) {
                        const item = selectedPhieu.data('item');

                        if (item.hinhThucGiam === true) {
                            let phanTram = (tongTien * item.giaTriGiam) / 100;

                            if (phanTram > item.giamToiDa) {
                                discount = item.giamToiDa;
                            } else {
                                discount = phanTram;
                            }
                        } else {

                            discount = item.giaTriGiam || 0;
                        }
                    }

                } else {
                    tatCaDaChon = false;
                }
            });

            $("#donHang").text(formatVND(tongTien));

            if (tongTien === 0) {
                $("#discount").text("0 VNĐ");
                $("#total").text(formatVND(0));
                $("input[name='phieuGiamGia']").prop("checked", false);
                localStorage.removeItem('sale');
            } else {
                const tongTienCuoi = tongTien - discount;

                $("#total").text(tongTienCuoi < 0 ? formatVND(0) : formatVND(tongTienCuoi));

                $("#discount").text(formatVND(discount));

                $("#select-all-checkbox").prop("checked", tatCaDaChon && tongCheckbox > 0);
            }

            updateContinueButton();
        }



        function xuLyThayDoiCheckbox() {
            let selectedProducts = [];

            $(".product-checkbox:checked").each(function() {
                const item = $(this).data('item');
                selectedProducts.push(item);
                getPhieuGiamGia();
            });

            localStorage.setItem('selectedProducts', JSON.stringify(selectedProducts));
            tinhTongTien();
        }

        $("#select-all-checkbox").change(function() {
            const isChecked = $(this).is(":checked");
            $(".product-checkbox").prop("checked", isChecked);
            xuLyThayDoiCheckbox();
            getPhieuGiamGia();
        });

        $(document).on('change', '.product-checkbox', function() {
            xuLyThayDoiCheckbox();
            getPhieuGiamGia();
        });



        $("#select-all-checkbox").change(function() {
            const isChecked = $(this).is(":checked");
            $(".product-checkbox").prop("checked", isChecked);
            xuLyThayDoiCheckbox();
        });

        $(document).on('change', '.product-checkbox', function() {
            xuLyThayDoiCheckbox();
        });

        $("#delete-all").click(function() {
           showConfirm(function (){
               $(".product-checkbox").prop("checked", false);
               $("#select-all-checkbox").prop("checked", false);
               xuLyThayDoiCheckbox();
               getPhieuGiamGia();
               showNotification("Xóa tất cả sản phẩm thành công", "thanhCong");
           })

        });

        function hideModalPhieuGiamGia() {
            $('#modalPhieuGiamGia').addClass('hidden');
            $('#modalPhieuGiamGia').val('');
            $('#modalPhieuGiamGia').addClass('hidden');
        }

        function showModalPhieuGiamGia() {
            $('#modalPhieuGiamGia').removeClass('hidden');
        }

        $('#phieuGiamGia').click(function () {
            showModalPhieuGiamGia();
        })

        $('#huyPhieuGiamGia').click(function () {
            hideModalPhieuGiamGia();
        })

        $("#chonPhieuGiamGia").click(function() {
            const selectedPhieu = $("input[name='phieuGiamGia']:checked");

            if (selectedPhieu.length > 0) {
                const item = selectedPhieu.data('item');
                sale = [item];
                $("#discount").text(formatVND(item.giamToiDa));
                localStorage.setItem('sale', JSON.stringify(sale));
            } else {
                $("#discount").text("0 VNĐ");
            }
            tinhTongTien();
            hideModalPhieuGiamGia();
        });

        getKhachHang();
        getPhieuGiamGia();
    });
</script>
</body>
<div th:replace="~{client/fragmentsClient/footer :: footer}"></div>
</html>