<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{client/fragmentsClient/head :: head}"></div>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thông tin chi tiết</title>
    <link rel="icon" type="image/svg+xml"
          href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <div th:replace="~{client/fragmentsClient/head :: head}"></div>

</head>
<style>
    .default-customer-img {
        width: 30px; /* Kích thước của ảnh */
        height: 30px; /* Kích thước của ảnh */
        border-radius: 50%; /* Làm tròn ảnh */
    }
    /* Đặt container với Flexbox */
    .account-container {
        display: flex;
        align-items: center; /* Căn giữa hình ảnh và văn bản theo chiều dọc */
    }

    /* Chỉnh kích thước và tạo hình tròn cho ảnh */
    .default-customer-img {
        width: 40px; /* Kích thước của ảnh */
        height: 40px; /* Kích thước của ảnh */
        border-radius: 50%; /* Làm tròn ảnh */
        margin-right: 10px; /* Khoảng cách giữa ảnh và văn bản */
    }

    /* Định dạng cho văn bản */
    .account-text {
        font-size: 16px; /* Kích thước chữ */
        color: #333; /* Màu chữ */
    }


</style>

<body>
<div th:replace="~{client/fragmentsClient/header :: header}"></div>

<div>
    <div class="flex justify-center">
        <div class="container bg-gray-100 w-[85%] p-2 rounded-lg shadow-md mt-32">
            <div class="grid gap-1 ml-2" style="grid-template-columns: 20% 80%;">
                <div class="m-5">
                    <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-vector-user-young-boy-avatar-icon-png-image_1538408.jpg" alt="Ảnh khách hàng mặc định" class="default-customer-img">
                    <span id="tenKhachHang" class="font-bold text-l"></span>
                    <div class="mt-5">
                        <div class="account-container">
                            <img src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-account-avatar-user-abstract-circle-background-flat-color-icon-png-image_1650938.jpg" alt="Ảnh khách hàng mặc định" class="default-customer-img">
                            <!-- Thêm ảnh mặc định dạng hình tròn -->
                            <span class="account-text">Tài khoản</span>
                        </div>
                        <div class="account-container">
                            <img src="https://imaxmobile.vn/media/data/icon-giao-hang-toan-quoc.jpeg" alt="Ảnh khách hàng mặc định" class="default-customer-img">
                            <!-- Thêm ảnh mặc định dạng hình tròn -->
                            <div class="text-orange-500">Đơn mua</div>
                        </div>

                    </div>
                </div>
              <div>
                  <div class="ml-5 flex">
                      <div>
                          <button class="text-gray-500"><a href="/thong-tin-don-hang">< TRỞ LẠI</a></button>
                      </div>
                      <div class="ml-[50%]">
                          <span class="mr-5">Mã Hóa Đơn: </span>
                          <span id="maHD"></span>
                          <span class="ml-5">|</span>
                          <span id="trangThai" class="text-orange-500 ml-14"></span>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="w-full border-t border-gray-500 mt-1 mb-3 "></div>
                      </div>
                      <div class="container mx-auto px-4 py-8">

                          <div class="overflow-hidden">

                              <div class="flex items-center  " id="steppers">

                              </div>

                          </div>
                      </div>
                      <div class="w-full border-t border-gray-500 mt-1 mb-3 "></div>
                      <div class="grid gap-1 grid-cols-1">
                              <div class="account-container">
                                  <img src="https://png.pngtree.com/png-clipart/20230428/original/pngtree-vector-location-icon-silhouette-png-image_9117654.png" alt="Ảnh khách hàng mặc định" class="default-customer-img">
                                  <!-- Thêm ảnh mặc định dạng hình tròn -->
                                  <span class="text-2xl font-bold ml-3">Địa chỉ nhận hàng</span>
                              </div>
                              <div id="diaChiNhanHang" class="mb-3">
                              </div>

                      </div>
                      <div class="w-full border-t border-gray-500 mt-1 mb-3 "></div>

                      <div>
                          <span class="text-2xl font-bold ml-3">Thanh toán</span>
                          <div id="thanhToan" class="mb-3">

                          </div>
                      </div>

                      <div class="w-full border-t border-gray-500 mt-1 mb-3 "></div>

                      <div class="mb-10">
                          <span class="text-lg font-bold ml-3">Phương thức thanh toán: </span>
                          <span id="phuongThucThanhToan" class="mb-3">

                          </span>
                      </div>

                      <div class="w-full border-t border-gray-500 mt-1 mb-3 "></div>

                  </div>
              </div>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function () {

    const pathArray = window.location.pathname.split('/');
    const idHoaDon = pathArray[pathArray.length - 1];

    const formatVND = (tongtien) => {
        return tongtien.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
    }

    function getKhachHang() {
        $.ajax({
            url: '/api/session/user',
            method: 'GET',
            success: function (response) {
                let idKhachHang = response.id;
                getDuLieuGioHangVaGioHangChiTiet(idKhachHang);
            },
        });
    }

    function getDuLieuGioHangVaGioHangChiTiet(idKhachHang) {
        $.ajax({
            url: `/api/gio-hang/detail/${idKhachHang}`,
            method: 'GET',
            success: function (response) {
                const gioHangChiTiet = response.ghct;
                const  gioHang = response.gh

                var count = gioHangChiTiet.length ? gioHangChiTiet.length : 0;
                document.getElementById('cart-count').textContent = count;

            },
        });

    }

    function fetchHoaDonDetail(idHoaDon) {
        $.ajax({
            url: `/api/hoa-don/detail/${idHoaDon}`,
            method: 'GET',
            success: function (response) {
                const hd = response.hd;
                const hdctList = response.hdctList;
                thongTinDiaChiDonHang(hd);
                fetchStepsData(idHoaDon);
                getPhuongThucThanhToan(idHoaDon);
                currentStep = hd.id;

            },

        });
    }


    function getPhuongThucThanhToan(idHoaDon) {
        $.ajax({
            url: `/api/hoa-don/phuong-thuc-thanh-toan/${idHoaDon}`,
            method: 'GET',
            success: function (result) {
                $('#phuongThucThanhToan').html(`
                ${trangThaiThanhToan(result[0].loaiThanhToan)}
            `);


            },
        });
    }

    function thongTinDiaChiDonHang(hd){
        $('#diaChiNhanHang').html(`
           <div class="m-3">${hd.nguoiNhan}</div>
          <div class="text-gray-600">
               <div class="ml-3">${hd.sdtNguoiNhan}</div>
              <div class="ml-3">${hd.diaChiNguoiNhan}</div>
            </div>

        `);

        $('#thanhToan').html(`
            <div class="flex ">
                <div class="ml-[45%]">
                    <div class="text-gray-600 ml-9 ">Tổng tiền: </div>
                    <div class="text-gray-600">Phí vận chuyển: </div>
                    <div class="text-gray-600 ml-12">Voucher: </div>
                    <div class="font-bold ml-6">Thành tiền: </div>
                </div>
                <div class="ml-[10%]">
                    <div class="text-gray-600">${formatVND(hd.tongTien)}</div>
                    <div class="text-gray-600">${formatVND(hd.tienShip)}</div>
                    <div class="text-gray-600">${formatVND(hd.phieuGiamGia.giamToiDa)}</div>
                    <div class="text-orange-600 text-xl">${formatVND(hd.tongTienSauGiam)}</div>
                </div>
            </div>

        `);

        $('#maHD').text(`${hd.ma}`);
        $('#trangThai').text(`${trangThaiSteps(hd.trangThai)}`);
    }


    const icons = ['<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
    '  <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z" clip-rule="evenodd" />\n' +
    '  <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />\n' +
    '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z" clip-rule="evenodd" />\n' +
        '  <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5Zm6.61 10.936a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />\n' +
        '  <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />\n' +
        '  <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.163 3.75A.75.75 0 0 1 10 12h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path fill-rule="evenodd" d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 0 1 .75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 0 1 9.75 22.5a.75.75 0 0 1-.75-.75v-4.131A15.838 15.838 0 0 1 6.382 15H2.25a.75.75 0 0 1-.75-.75 6.75 6.75 0 0 1 7.815-6.666ZM15 6.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" clip-rule="evenodd" />\n' +
        '  <path d="M5.26 17.242a.75.75 0 1 0-.897-1.203 5.243 5.243 0 0 0-2.05 5.022.75.75 0 0 0 .625.627 5.243 5.243 0 0 0 5.022-2.051.75.75 0 1 0-1.202-.897 3.744 3.744 0 0 1-3.008 1.51c0-1.23.592-2.323 1.51-3.008Z" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" />\n' +
        '  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />\n' +
        '  <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375Zm9.586 4.594a.75.75 0 0 0-1.172-.938l-2.476 3.096-.908-.907a.75.75 0 0 0-1.06 1.06l1.5 1.5a.75.75 0 0 0 1.116-.062l3-3.75Z" clip-rule="evenodd" />\n' +
        '</svg>\n',
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">\n' +
        '  <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />\n' +
        '</svg>\n'
    ];

    let stepsHistory = [];



    function fetchStepsData(idHoaDon) {
        $.ajax({
            url: `/api/hoa-don/lich-su-hoa-don-co-thong-tin/${idHoaDon}`, method: 'GET', success: function (data) {
                console.log(data);
                stepsHistory = data.map(item => ({
                    hanhDong: item.hanhDong, ngayTao: item.ngayTao
                }));
                currentStep = stepsHistory.length > 0 ? stepsHistory.length : 1;
                updateButtonsState();
            }, error: function (error) {
                console.error("Error fetching steps data:", error);
            }
        });
    }

    function updateButtonsState() {
        $('#steppers').empty();
        stepsHistory.forEach((step, index) => {
            $('#steppers').append(createStep(step.hanhDong, step.ngayTao, step.hanhDong));
        });

    }

    function createStep(hanhDong, ngayTao, stepNum) {
        const iconBgColor = stepNum === 7 ? 'bg-red-600' : 'bg-green-600';

        const stepDiv = $(`
        <div class="flex items-center ml-8 step" data-step="${stepNum}">
            <div class="h-8 w-8 ${iconBgColor} text-white rounded-full flex items-center justify-center">
                ${icons[stepNum]}
            </div>
            <div class="ml-4">
                <h2 class="text-lg font-semibold">${trangThaiSteps(hanhDong)}</h2>
                <p class="text-gray-600">
                    ${ngayTao != null ? new Date(ngayTao).toLocaleString('vi-VN', {
            day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'
        }) : ''}
                </p>
            </div>
        </div>
    `);

        return stepDiv;
    }


    const trangThaiThanhToan = (tt) => {
        switch (tt) {
            case true:
                return 'Thanh toán trước khi nhận hàng';
            case false:
                return 'Thanh toán khi nhận hàng';
            default:
                return 'Không xác định';
        }
    }
    const trangThaiSteps = (tt) => {
        switch (tt) {
            case 1:
                return 'Chờ xác nhận';
            case 2:
                return 'Đã xác nhận';
            case 3:
                return 'Chờ vận chuyển';
            case 4:
                return 'Vận chuyển';
            case 5:
                return 'Thanh toán';
            case 6:
                return 'Hoàn thành';
            case 7:
                return 'Hủy';
            default:
                return 'Không xác định';
        }
    }

    fetchHoaDonDetail(idHoaDon);
    getKhachHang();
});

</script>

</body>
<div th:replace="~{client/fragmentsClient/footer :: footer}"></div>
</html>