<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoeSee - Online Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="TemplatesJungle">
    <meta name="keywords" content="Online Store">
    <meta name="description" content="Stylish - Shoes Online Store HTML Template">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/vendor.css}">
    <link rel="stylesheet" th:href="@{/assets/css/ctsp.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="icon" type="image/svg+xml"
          href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chocolat@0.7.0/dist/css/chocolat.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,900;1,900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
          rel="stylesheet">

</head>

<body>
<div th:replace="~{client/fragmentsClient/header :: header}"></div>

<section id="latest-products" class="product-store py-2 my-2 py-md-5 my-md-5 pt-0" style="background-color: #F5F5F5">
    <div class="container-md" >
        <div class="row d-flex" id="products-list">
            <div class=" d-flex">
                <div id="anh" class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="col-md-12 ">
                        <div id="ten"></div>
                        <div class="d-flex" style="size: 80px; margin-top: 5px;margin-bottom: 5px;">
                            <p style=" font-weight: bold; font-size: 40px"></p>
                            <div id="gia" style="size: 80px;"></div>
                        </div>
                    </div>
                    <div class="mausize">
<!--                        <p>Chọn Màu :</p>-->
                        <div id="mau" class="col-md-12"></div>
                        <p class="validatemau">Vui Lòng chọn màu</p>
<!--                        <p>Chọn Size :</p>-->
                        <div id="size" class="col-md-12" style="margin-bottom: 5px"></div>
                        <p class="validatesize">Vui Lòng chọn Size</p>
                    </div>

                    <div id="sl" class="col-md-12 d-flex">
                        <div class="d-flex md-8">
                            <button class="lui btn btn-light" >-</button>
                            <input class="text-center btn btn-light" type="text" id="quantity" value="1" min="1"
                                   style="width: 50px">
                            <button class="tang btn btn-light" >+</button>
                        </div>
                        <div id="soluongton" class="md-4" style="margin-top:5px  "></div>
                    </div>
                    <br>
                    <div id="mua">
                        <button class="btn btn-danger" id="muangay">Mua Ngay</button>
                        <button class="btn btn-outline-warning" id="themgiohang">
                            <i class="bi bi-cart"></i> Thêm Giỏ Hàng
                        </button>
                </div>
            </div><!-- Added div for additional images -->
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jarallax@1.12.0/dist/jarallax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jarallax@1.12.0/dist/jarallax-video.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const path = window.location.pathname;
        const pathParts = path.split('/');
        const sanPhamId = pathParts[pathParts.length - 1];
        let slconlai ;
        function validateQuantity() {
            let $quantityInput = $('#quantity');
            let currentQuantity = parseInt($quantityInput.val(), 10);
            let minQuantity = parseInt($quantityInput.attr('min'), 10);


            let maxQuantity = slconlai;

            if (isNaN(currentQuantity) || currentQuantity < minQuantity) {
                $quantityInput.val(minQuantity);
            } else if (currentQuantity > maxQuantity) {
                $quantityInput.val(maxQuantity);
            }
        }

        // Attach the validation function to the input and blur events
        $('#quantity').on('input blur', validateQuantity);



        if (!sanPhamId) {
            console.error('Không tìm thấy ID sản phẩm trong URL.');
            $('#products-list').append('<p>Không có ID sản phẩm.</p>');
            return;
        }


        $.ajax({
            url: `/sanphamchitietclien/${sanPhamId}`,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log('Dữ liệu sản phẩm chính:', data);

                const productsContainer = $('#mau');
                const anhsp = $('#anh');
                const sizesp = $('#size');

                const ten = $('#ten');
                const gia = $('#gia');
                const sltonsp = $('#soluongton');
                var sizecheck;
                var anhcheck;

                document.getElementById('themgiohang').addEventListener('click', function() {
                    if(anhcheck==null && sizecheck==null){
                        var validateSizeP = document.querySelector('.validatemau');
                        validateSizeP.style.display = 'block';
                        validateSizeP.style.color = 'red';
                        var validateSizeP = document.querySelector('.validatesize');
                        validateSizeP.style.display = 'block';
                        validateSizeP.style.color = 'red';
                    }

                });
                document.getElementById('muangay').addEventListener('click', function() {
                    if(anhcheck==null && sizecheck==null){
                        var validateSizeP = document.querySelector('.validatemau');
                        validateSizeP.style.display = 'block';
                        validateSizeP.style.color = 'red';
                        var validateSizeP = document.querySelector('.validatesize');
                        validateSizeP.style.display = 'block';
                        validateSizeP.style.color = 'red';
                    }
                });
                productsContainer.empty();
                $('.tang').on('click', function () {

                    let quantityInput = $('#quantity');
                    let currentQuantity = parseInt(quantityInput.val(), 10);
                    let maxQuantity = slconlai;


                    if (currentQuantity >= maxQuantity) {
                        quantityInput.val(maxQuantity);
                    } else {
                        quantityInput.val(currentQuantity + 1);
                    }
                });

                $('.lui').on('click', function () {
                    let quantity = document.getElementById('quantity');

                    if (quantity.value > 1) {
                        quantity.value = parseInt(quantity.value) - 1;
                    }
                })
                if (data && typeof data === 'object' && data.id) {
                    const productName = data.ten || 'Không có tên';
                    const productPrice = data.giaBan != null ? data.giaBan.toLocaleString('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }) : 'Không có giá';
                    const productImage = data.anh ? `${data.anh}` : 'path/to/default-image.jpg';


                    const mainImage = $(`
                    <img src="${productImage}" alt="Product Image" style="width: 500px; height: 500px; ">
                `);
                    const tensp = $(`

                            <p class="card-title" style=" font-size:25px;color: #333; margin-top: 10px;">${productName}</p>

                `);
                    const giasp = $(`

                            <p class="product-price" style="font-size: 30px;color: #d9534f; margin-bottom: 10px;">${productPrice}</p>

                `);


                    anhsp.append(mainImage);
                    ten.append(tensp);
                    gia.append(giasp);


                    const additionalImagesDiv = $('<div class="additional-images"></div>');


                    $.ajax({
                        url: `/sanphamchitietclientanh/${data.sanPham.id}`,
                        method: 'GET',
                        dataType: 'json',
                        success: function (additionalData) {
                            console.log('Dữ liệu bổ sung nhận được:', additionalData);
                            const additionalImages = additionalData || [];

                            additionalImages.forEach(img => {
                                const imageName = img;

                                const additionalImageDiv = $(`
                                <div>
                                    <img src="${img}" alt="Additional Product Image" data-name="${imageName}">
                                </div>
                            `);
                                additionalImagesDiv.append(additionalImageDiv);
                            });


                            productsContainer.append(additionalImagesDiv);


                            $('.additional-images img').on('click', function () {
                                $('.additional-images img').removeClass('selected-image');

                                sizecheck=null;

                                var validateSizeP = document.querySelector('.validatesize');
                                validateSizeP.style.display = 'none';
                                sltonsp.empty();
                                $(this).addClass('selected-image');
                                document.getElementById('themgiohang').addEventListener('click', function() {
                                    if(sizecheck==null){
                                        var mausizeDiv = document.querySelector('.mausize');
                                        mausizeDiv.style.display = 'block';

                                        var validateSizeP = document.querySelector('.validatesize');
                                        validateSizeP.style.display = 'block';
                                        validateSizeP.style.color = 'red';
                                    }
                                    else {

                                    }

                                });
                                document.getElementById('muangay').addEventListener('click', function() {
                                    if(sizecheck==null){
                                        var mausizeDiv = document.querySelector('.mausize');
                                        mausizeDiv.style.display = 'block';

                                        var validateSizeP = document.querySelector('.validatesize');
                                        validateSizeP.style.display = 'block';
                                        validateSizeP.style.color = 'red';
                                    }
                                    else {

                                    }

                                });

                                const imageName = $(this).data('name');
                                console.log('Tên hình ảnh:', imageName);
                                if(imageName!=null){
                                    var validateSizeP = document.querySelector('.validatemau');
                                    validateSizeP.style.display = 'none';
                                    validateSizeP.style.color = 'red';
                                }
                                const sizemau = "";
                                anhcheck = imageName;
                                gia.empty();
                                anhsp.empty();
                                const mainImage = $(`
                                  <img src="${imageName}" alt="Product Image" style="width: 500px; height: 500px;">
                                     `);
                                anhsp.append(mainImage);

                                $('.size-container').remove();

                                $.ajax({
                                    url: `/kichco/${data.sanPham.id}`,
                                    method: 'GET',
                                    data: { anh: encodeURIComponent(imageName) },
                                    dataType: 'json',
                                    success: function (sizes) {
                                        console.log('Sizes:', sizes);
                                        const sizegia = sizes[0];
                                        $.ajax({
                                            url: `/gia-ban/${data.sanPham.id}/${sizegia}`,
                                            method: 'GET',
                                            data: { anh: encodeURIComponent(imageName) },
                                            dataType: 'json',
                                            success: function (giaanh) {
                                                const giakhichonanh = giaanh != null ? giaanh.toLocaleString('vi-VN', {
                                                    style: 'currency',
                                                    currency: 'VND'
                                                }) : 'Không có giá';
                                                const giaspanh = $(`

                                                          <hp class="product-price" style="font-size: 30px; color: #d9534f; margin-bottom: 10px;">${giakhichonanh}</hp>

                                                             `);
                                                gia.append(giaspanh);
                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Lỗi khi lấy dữ liệu kích cỡ:', error);
                                            }
                                        });

                                        const sizeDiv = $('<div class="size-container"></div>');
                                        sizes.forEach(size => {
                                            const sizeElement = $(`

                                            <p class="sizekhichon">${size}</p>
                                        `);
                                            sizeDiv.append(sizeElement);
                                        });


                                        sizesp.append(sizeDiv);
                                        $('.size-container p').on('click', function () {
                                            $('.size-container p').removeClass('selected-size');
                                            $(this).addClass('selected-size');

                                            const selectedSize = $(this).text();
                                            sizecheck = selectedSize;
                                            console.log('Kích cỡ được chọn v:', sizecheck);
                                            var validateSizeP = document.querySelector('.validatesize');
                                            validateSizeP.style.display = 'none';
                                            sltonsp.empty();
                                            gia.empty();


                                            $.ajax({
                                                url: `/SLton/${data.sanPham.id}/${selectedSize}`,
                                                method: 'GET',
                                                data: { anh: encodeURIComponent(imageName) },
                                                dataType: 'json',
                                                success: function (sl) {
                                                    slconlai = sl
                                                    console.log("hmmmm"+slconlai);
                                                    const slton = $(`
                                                                    <div>
                                                                          <p class="product-price" style="font-size: 17px; color: #000000; margin-bottom: 10px; opacity: 0.5;margin-left: 10px">
                                                                           ${sl + ' sản phẩm có sẵn'}
                                                                          </p>

                                                                     </div>
                                                                  `);
                                                    sltonsp.append(slton);

                                                    document.getElementById('themgiohang').addEventListener('click', function() {
                                                        if(sizecheck==null){

                                                        }
                                                        else {
                                                                $.ajax({
                                                                    url: '/api/session/user',
                                                                    method: 'GET',
                                                                    success: function (response) {
                                                                        let idKhachHang = response.id;

                                                                        let inputElement = document.getElementById('quantity');
                                                                        let soluongspkhithem = inputElement.value;
                                                                        var anhlayve = imageName;
                                                                        $.ajax({
                                                                            url: `/detailcheckgh/${idKhachHang}/${selectedSize}/${data.sanPham.id}/${soluongspkhithem}`,
                                                                            type: 'GET',
                                                                            data: { anhlayve: encodeURIComponent(anhlayve) },
                                                                            success: function(response) {

                                                                                console.log('Response:', response);


                                                                            },
                                                                            error: function(xhr, status, error) {
                                                                                console.error('Error:', error);
                                                                            }
                                                                        });
                                                                    },
                                                                    error: function (xhr, status, error) {
                                                                        window.location.href = `/login`;
                                                                    }
                                                                });}


                                                    });
                                                    document.getElementById('muangay').addEventListener('click', function() {
                                                        if(sizecheck==null){

                                                        }
                                                        else {
                                                                $.ajax({
                                                                    url: '/api/session/user',
                                                                    method: 'GET',
                                                                    success: function (response) {
                                                                        let idKhachHang = response.id;

                                                                        let inputElement = document.getElementById('quantity');

                                                                        let soluongspkhithem = inputElement.value;
                                                                        var anhlayve = imageName;
                                                                        $.ajax({
                                                                            url: `/detailcheckgh/${idKhachHang}/${selectedSize}/${data.sanPham.id}/${soluongspkhithem}`,
                                                                            type: 'GET',
                                                                            data: { anhlayve: encodeURIComponent(anhlayve) },
                                                                            success: function(response) {

                                                                                console.log('Response:', response);
                                                                                window.location.href = `/gio-hang`;


                                                                            },
                                                                            error: function(xhr, status, error) {
                                                                                console.error('Error:', error);
                                                                            }
                                                                        });
                                                                    },
                                                                    error: function (xhr, status, error) {
                                                                        window.location.href = `/login`;
                                                                    }
                                                                });
                                                        }
                                                    });
                                                },
                                                error: function (xhr, status, error) {
                                                    console.error('Lỗi khi lấy dữ liệu kích cỡ:', error);
                                                }
                                            });
                                            $.ajax({
                                                url: `/gia-ban/${data.sanPham.id}/${selectedSize}`,
                                                method: 'GET',
                                                data: { anh: encodeURIComponent(imageName) },
                                                dataType: 'json',
                                                success: function (giaban) {
                                                    console.log('giasize:', giaban);
                                                    const giakhichonsize = giaban != null ? giaban.toLocaleString('vi-VN', {
                                                        style: 'currency',
                                                        currency: 'VND'
                                                    }) : 'Không có giá';
                                                    const giaspsize = $(`

                                                          <p class="product-price" style="font-size: 30px; color: #d9534f; margin-bottom: 10px;">${giakhichonsize}</p>

                                                             `);
                                                    gia.append(giaspsize);
                                                },
                                                error: function (xhr, status, error) {
                                                    console.error('Lỗi khi lấy dữ liệu kích cỡ:', error);
                                                }
                                            });
                                        });
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Lỗi khi lấy dữ liệu kích cỡ:', error);
                                    }
                                });
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('Lỗi khi lấy dữ liệu bổ sung:', error);
                        }
                    });

                    $.ajax({
                        url: `http://localhost:3000/kichco/${data.sanPham.id}`,
                        method: 'GET',
                        data: { anh: encodeURIComponent(data.anh) },
                        success: function (sizes) {
                            console.log('Sizes:', sizes);


                            const sizeDiv = $('<div class="size-container"></div>');
                            sizes.forEach(size => {
                                const sizeElement = $(`
                                            <p>${size}</p>
                                        `);
                                sizeDiv.append(sizeElement);
                            });


                            sizesp.append(sizeDiv);


                            $('.size-container p').on('click', function () {
                                $('.size-container p').removeClass('selected-size');

                                $(this).addClass('selected-size');
                                var validateSizeP = document.querySelector('.validatesize');
                                validateSizeP.style.display = 'none';
                                validateSizeP.style.color = 'red';
                                const selectedSize = $(this).text();
                                console.log('Kích cỡ được chọn v:', selectedSize);
                                sizecheck=selectedSize;
                                document.getElementById('themgiohang').addEventListener('click', function() {
                                   if(anhcheck==null){
                                       var validateSizeP = document.querySelector('.validatemau');
                                       validateSizeP.style.display = 'block';
                                       validateSizeP.style.color = 'red';
                                   }

                                });
                                document.getElementById('muangay').addEventListener('click', function() {
                                    if(anhcheck==null){
                                        var validateSizeP = document.querySelector('.validatemau');
                                        validateSizeP.style.display = 'block';
                                        validateSizeP.style.color = 'red';
                                    }
                                });
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('Lỗi khi lấy dữ liệu kích cỡ:', error);
                        }
                    });
                } else {
                    productsContainer.append('<p>Không có dữ liệu sản phẩm.</p>');
                }
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi lấy dữ liệu:', error);
                $('#products-list').append('<p>Đã xảy ra lỗi khi lấy dữ liệu sản phẩm.</p>');
            }
        });
    });


</script>

<script src="https://cdn.jsdelivr.net/npm/chocolat@0.7.0/dist/js/chocolat.min.js"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/client.js}"></script>
<script th:src="@{/assets/js/script.js}"></script>
<script th:src="@{/assets/js/Header.js}"></script>


<div th:replace="~{client/fragmentsClient/footer :: footer}"></div>
</body>

</html>
