<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Các Meta cơ bản -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Meta cho thiết bị di động -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Meta cho trang web -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>sneaker-shoe-see</title>
    <link rel="icon" type="image/svg+xml"
          href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
    <!-- Stylesheet của slider -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- CSS core của Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS tùy chỉnh cho template này -->
    <link rel="stylesheet" th:href="@{/assets/css/clent.css}"/>
    <!-- CSS responsive -->
    <link rel="stylesheet" th:href="@{/assets/css/reponse.css}"/>
</head>

<body>
<div class="hero_area">
    <!-- Phần header -->
    <header class="header_section ">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
                <span>Sneaker Shoe-See shop</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item">
                        <p>tìm Kiếm</p>
                        <input type="text">
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}" >Home <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="client/shop.html" >Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/why}" >Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/testimonial}" >Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}" >Contact Us</a>
                    </li>
                </ul>
                <div class="user_option">
                    <a href="login">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span >Login</span>
                    </a>
                    <a href="">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                    <form class="form-inline ">
                        <button class="btn nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section class="slider_section">
        <div class="slider_container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <h2>
                                            Chào mừng đến với <br> Shoe-See Shop
                                        </h2>
                                        <p>
                                            🌟 **Khám Phá Sự Hoàn Hảo Với Giày Sneaker Mới Nhất Của Chúng Tôi!** 🌟
                                        </p>
                                        <p>
                                            👟 **Thoải Mái Tuyệt Đối, Phong Cách Đỉnh Cao!**
                                        </p>
                                        <p>Bạn đang tìm kiếm một đôi giày sneaker hoàn hảo? </p>
                                        <p>
                                            Đừng bỏ lỡ cơ hội sở hữu sản phẩm mới nhất của chúng tôi! Được thiết kế với công nghệ tiên tiến và chất liệu cao cấp, giày sneaker của chúng tôi không chỉ mang lại sự thoải mái tuyệt đối mà còn giúp bạn tự tin thể hiện phong cách riêng.
                                        </p>
                                        <a href="">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="img-box">
                                        <img src="images/slider-img.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


</div>


<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
               Danh Sách Sản Phẩm
            </h2>
        </div>
        <div class="row">
            <div th:each="sanPham : ${sanPhams}" class="col-md-4 mb-4">
                <div class="card-body">
                    <a th:href="@{/sanphamchitietclien/{sanPhamId}(sanPhamId=${sanPham.id})}">
                        <h5 class="card-title" th:text="${'Tên: ' + sanPham.ten}"></h5>
                        <img th:src="@{'/assets/imageNV/' + ${sanPham.anh}}" class="img-fluid mb-2" alt="Product Image">
                    </a>
                    <p class="card-text" th:text="${'Giá: ' + sanPham.giaBan}"></p>
                    <p class="card-text" th:text="${'Số lượng: ' + sanPham.soLuong}"></p>
                    <p class="card-text" th:text="${'Mô Tả: ' + sanPham.moTa}"></p>
                    <p class="card-text"> thêm ảnh vào data base ở spct : ce71af39-aff6-40b8-bbfa-beea1f7a3f44.png</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/cart}" class="btn btn-primary">Mua Ngay</a>
                        <a th:href="@{/cart}" class="btn btn-secondary">Thêm Vào Giỏ Hàng</a>
                    </div>
                </div>

            </div>
        </div>


        <div class="btn-box">
            <a href="#">
                View All Products
            </a>
        </div>
    </div>
</section>


<section class="footer_section">
    <div class="container">
        <p>
            &copy; 2024 All Rights Reserved.
        </p>
    </div>
</section>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</body>

</html>
