<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý hóa đơn</title>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <head th:replace="~{admin/fragments/head :: head}"></head>
</head>
<body class="">
<div class="flex">
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}" class="w-64"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content flex-grow ml-64 p-4 bg-gray-200">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <!-- Navbar End -->
        <!-- Main Content -->
    <div class="ml-36">
<!--        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7 ml-6">-->
<!--            <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z"/>-->
<!--            <path fill-rule="evenodd"-->
<!--                  d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.163 3.75A.75.75 0 0 1 10 12h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75Z"-->
<!--                  clip-rule="evenodd"/>-->
<!--        </svg>-->


        <h2 class="mb-4 text-3xl font-bold mt-5"> Quản lý hóa đơn</h2>
    </div>


    <div class="container mx-auto bg-white h-48 w-full m-auto mt-5 bg-white p-6 rounded-lg shadow-md h-48 ">
        <div class="mt-3 ">
            <div class="flex items-center">

                <h2 class="text-xl font-bold">
                    Lọc tìm kiếm
                </h2>
            </div>
            <form action="/hoa-don" method="get" class="mb-4" onsubmit="onSearch(event)">
                <div class="flex justify-items-start ml-10">
                    <input type="text" name="ma" placeholder="Tìm kiếm theo mã"
                           class="px-4 py-2 border border-gray-300 rounded-md  ml-10 mt-5" id="searchTxt">
                    Từ ngày: <input type="date" name="startDate" id="startDate"
                                    class="px-4 py-2 border border-gray-300 rounded-md mx-2  ml-10 mt-5">
                    Đến ngày: <input type="date" name="endDate" id="endDate"
                                     class="px-4 py-2 border border-gray-300 rounded-md mx-2  ml-10 mt-5">
                    <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md  ml-10 mt-5">Tìm kiếm
                    </button>
                    <button type="button" class="px-4 py-2 bg-green-500 text-white rounded-md  ml-10 mt-5"
                            onclick="resetSearch()">Làm mới
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-10 ml-5 w-full m-auto mt-5">
        <ul class="flex border-b cursor-pointer w-[81%] m-auto mt-5" id="hoaDonTabs" role="tablist">
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="0">Tất cả</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="1">Chờ xác
                    nhận</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="2">Đã xác
                    nhận</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="3">Chờ vận
                    chuyển</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="4">Vận chuyển</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="5">Thanh toán</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="6">Hoàn thành</a>
            </li>
            <li class="mr-1" role="presentation">
                <a class="tab-link inline-block py-2 px-4 text-blue-500 hover:text-blue-800" data-tab="7">Hủy</a>
            </li>
        </ul>
    </div>


    <div class="w-full m-auto mt-5 bg-white p-6 rounded-lg shadow-md mb-11">
        <div class="tab-content" id="hoaDonTabsContent">
            <h2 class="text-xl font-bold mb-5">
                Danh sách hóa đơn
            </h2>
            <div class="tab-pane fade show active">
                <div class="overflow-x-auto flex rounded-lg shadow-md">
                    <table class=" divide-y divide-gray-200 w-full  ">
                        <thead class="bg-blue-400">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">STT
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Mã
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Tên
                                Khách
                                Hàng
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">SDT khách hàng
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Loại
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Mã nhân viên
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Ngày
                                Tạo
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Tổng
                                Tiền
                            </th>

                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Trạng
                                Thái
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Detail
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 " id="listHoaDon">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/postcss7-compat@latest"></script>
<script>
    let currentTab = '';
    let searchTxt = '';
    let startDate = '';
    let endDate = '';
    const switchTab = (tab) => {
        $('.tab-link').removeClass('border-b-2 border-blue-500 rounded-lg shadow-md bg-white');
        $(`a[data-tab="${tab}"]`).addClass('border-b-2 rounded-lg shadow-md bg-white');
        currentTab = tab;
        getData();
    };
    const getData = () => {
        console.log("currentTab", currentTab)
        $.ajax({
            url: `/api/hoa-don?tab=${currentTab}&ma=${searchTxt}&startDate=${startDate}&endDate=${endDate}`,
            data: {},
            success: function (result) {
                let list = "";
                $("#listHoaDon").empty();
                for (let i = 0; i < result.length; i++) {
                    list += `<tr>
                                    <td class="px-6 py-4 whitespace-nowrap">${i + 1}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${result[i].ma}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${result[i].khachHang.ten}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${result[i].khachHang.sdt}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${trangThaiMua(result[i].loai)}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${result[i].nhanVien.ma}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${result[i].ngayTao != null ? new Date(result[i].ngayTao).toLocaleDateString('vi-VN') : ''}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${formatVND(result[i].tongTien)}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${trangThai(result[i].trangThai)}</td>
                                    <td class="px-6 py-4 whitespace-nowrap"><a href="/hoa-don/detail/${result[i].id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                         <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                                    </svg>
                                    </a></td>
                                  </tr>`;
                }
                $("#listHoaDon").html(list);
            }
        });
    }


    const trangThai = (tt) => {
        switch (tt) {
            case 1:
                return '<span class="status bg-blue-500 text-white rounded-lg ">Chờ xác nhận</span>';
            case 2:
                return '<span class="status bg-green-500 text-white rounded-lg">Đã xác nhận</span>';
            case 3:
                return '<span class="status bg-yellow-500 text-white rounded-lg">Chờ vận chuyển</span>';
            case 4:
                return '<span class="status bg-orange-500 text-white rounded-lg">Vận chuyển</span>';
            case 5:
                return '<span class="status bg-purple-500 text-white rounded-lg">Thanh toán</span>';
            case 6:
                return '<span class="status bg-gray-500 text-white rounded-lg">Hoàn thành</span>';
            case 7:
                return '<span class="status bg-red-500 text-white rounded-lg">Hủy</span>';
            default:
                return '<span class="status bg-black text-white rounded-lg">Không xác định</span>';
        }
    }

    const trangThaiMua = (tt) => {
        switch (tt) {
            case 1:
                return 'Online';
            case 2:
                return 'Tại quầy';
            default:
                return 'Không xác định'
        }
    }

    const formatVND = (tongtien) => {
        return tongtien.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
    }


    $(document).ready(function () {
        $(`a[data-tab="0"]`).addClass('border-blue-500 rounded-lg shadow-md bg-white');
        getData();
    });
    const onSearch = (event) => {
        event.preventDefault();
        searchTxt = $('#searchTxt').val();
        startDate = $('#startDate').val();
        endDate = $('#endDate').val();
        getData();
    }

    const resetSearch = () => {
        $('#searchTxt').val('');
        $('#startDate').val('');
        $('#endDate').val('');
        searchTxt = '';
        startDate = '';
        endDate = '';
        getData();
    }

    $(".tab-link").click(function () {
        const tab = $(this).data("tab");
        switchTab(tab);
    });
</script>
</body>
</html>
