<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <head th:replace="~{admin/fragments/head :: head}"></head>
    <style>
        @media print {
            .invoice-container {
                display: block !important;
            }

            body > *:not(.invoice-container) {
                display: none !important;
            }
        }
    </style>

</head>
<body class="bg-gray-200 ">
<div class="flex">
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}" class="w-64"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content flex-grow ml-64 p-4 bg-gray-200">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <div class="grid gap-4 grid-cols-1">
            <div class="h-72 w-full m-auto mt-5 bg-white p-6 rounded-lg shadow-md">
                <div class="container mx-auto px-4 py-8">
                    <div class="overflow-hidden">
                        <!-- Steppers Container -->
                        <div class="flex items-center  " id="steppers">

                        </div>

                        <div class="flex justify-between mt-7">
                            <div class="mt-8 flex gap-2 ">
                                <button id="prevBtn" class="bg-red-500 text-white px-4 py-2 rounded">Quay lại</button>
                                <button id="hienThiGhiChu" class="bg-blue-500 text-white px-4 py-2 rounded">Xác nhận
                                </button>


                            </div>
                            <div class="mt-8 flex gap-2">
                                <button id="hienThiLichSu" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:text-gray-100">Lịch sử
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="" class="bg-white h-40 w-full m-auto mt-5 p-6 rounded-lg shadow-md">
            <table id="tableLichSuThanhToan" class="min-w-full divide-y divide-gray-200  ">
                <thead class="bg-blue-500">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        STT
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Số tiền
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Trạng thái
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Thời gian
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Loại giao dịch
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Phương thức thanh toán
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                       Ghi chú
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Người xác nhận
                    </th>
                </tr>
                </thead>
                <tbody id="lichSuThanhToan" class="bg-white divide-y divide-gray-200">
                </tbody>
            </table>

        </div>


        <div id="thongTinHoaDon" class="bg-white h-80 w-full m-auto mt-5 p-6 rounded-lg shadow-md"></div>
        <div id="hoaDonChiTietWrapper" class="bg-white h-[40%] w-full m-auto mt-5 p-6 rounded-lg shadow-md">
            <div id="hoaDonChiTiet" class="h-full">
                <div class="grid gap-4 grid-cols-2">
                    <div>
                        <h1 class="text-xl mt-3 ml-3 mb-4 font-bold">Thông tin sản phẩm đã mua</h1>
                    </div>
                    <div class="flex justify-end ">
                        <button id="hienThiDanhSachSanPham" class="bg-blue-500 text-white px-4 py-2 rounded h-[50%] mt-4 hover:bg-blue-600 hover:text-gray-100">
                            Thêm sản phẩm
                        </button>
                    </div>
                </div>
                <div class="overflow-x-auto">

                    <table id="tableHoaDonChiTiet" class="min-w-full divide-y divide-gray-200  ">
                        <thead class="bg-blue-500">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                STT
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Ảnh
                                sản
                                phẩm
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Thông
                                tin sản phẩm
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Màu
                                sắc
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Số
                                lượng
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Tổng
                                tiền
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Trạng
                                thái
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Hành
                                động
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbodyHoaDonChiTiet" class="bg-white divide-y divide-gray-200 h-full">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="bg-white h-52 w-full m-auto mt-5 p-6 rounded-lg shadow-md mb-11">
            <div class="grid gap-4 grid-cols-2">
                <div></div>
                <div id="tongTienChiTiet" class="h-32 p-4 font-bold">
                </div>
            </div>
        </div>


        <!--    modal-->
        <div id="noteModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex items-center justify-center min-h-screen">
                <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full">
                    <div class="bg-white px-4 pt-5 pb-4">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Nhập ghi chú</h3>
                        <div class="mt-2">
                        <textarea id="noteText" class="w-full p-2 border rounded" rows="4"
                                  placeholder="Nhập ghi chú (ít nhất 10 ký tự)"></textarea>
                        </div>
                        <p id="noteError" class="text-red-500 text-sm hidden">Ghi chú phải có ít nhất 10 ký tự.</p>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 flex justify-end">
                        <button id="cancelButton"
                                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">Hủy
                        </button>
                        <button id="xacNhanGhiChu"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalLichSu" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex items-center justify-center min-h-screen">
                <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-3xl w-full">
                    <div class="bg-white px-4 pt-5 pb-4">
                        <table id="tableLichSu" class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-blue-500">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    STT
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Trạng thái
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Ngày
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Người xác nhận
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Ghi
                                    chú
                                </th>

                            </tr>
                            </thead>
                            <tbody id="listLichSu" class="bg-white divide-y divide-gray-200">
                            </tbody>
                        </table>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 flex justify-end">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-5"
                                id="dongLichSu">Xác
                            nhận
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div id="modalDachSachSanPham" class="fixed inset-0 overflow-y-auto hidden bg-gray-500 bg-opacity-75">
            <div class="flex items-center justify-center min-h-screen">
                <div class="bg-white rounded-lg overflow-hidden shadow-xl w-[70%] ml-[20%] max-h-[80%]">
                    <div class="bg-white px-4 pt-5 pb-4">
                        <table id="tableDanhSachSanPham" class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-blue-500">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    STT
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Ảnh
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Tên Sản Phẩm
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Giá Bán
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Số Lượng
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Kích Thước
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Màu Sắc
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Trạng Thái
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Hành Động
                                </th>
                            </tr>
                            </thead>
                            <tbody id="danhSachSanPham" class="bg-white divide-y divide-gray-200">
                            </tbody>
                        </table>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 flex justify-between items-center">
                        <div class="flex items-center space-x-2">
                            <button id="prevPageBtn" class="px-3 py-1 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M12.707 15.293a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 1.414L9.414 12H16a1 1 0 0 1 0 2h-6.586l3.293 3.293z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <button id="nextPageBtn" class="px-3 py-1 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M7.293 15.293a1 1 0 0 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L10.586 12H4a1 1 0 0 1 0-2h6.586l-3.293-3.293a1 1 0 0 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                        <div id="paginationButtons" class="flex items-center space-x-2">
                        </div>
                    </div>
                    <div class="flex justify-end mb-3 mr-3">
                        <button id="dongDanhSachSanPham" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:text-gray-100">Xác nhận
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<div class="invoice-container max-w-screen-md mx-auto p-4 border border-gray-300 bg-white hidden">
    <div id="inHoaDon">
    </div>
</div>



<script th:src="@{/assets/js/HoaDonDetail.js}"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
