<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/fragments/head :: head}"></div>
<link rel="stylesheet" th:href="@{/assets/css/NhanVienAdd.css}"/>
<link rel="icon" type="image/svg+xml"
      href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <!-- Navbar End -->
        <div class="container mt-5">
            <h2 class="text-center mb-4">Thêm Nhân Viên</h2>
            <form th:action="@{/admin/SaveNhanVien}" method="post" class="row g-3" enctype="multipart/form-data">

                <div class="col-md-4">
                    <h1 class="text-center fs-3">Ảnh Đại Diện</h1>
                    <br/>
                    <br/>
                    <br/>
                    <div class="d-flex flex-column align-items-center">
                        <div class="image-placeholder rounded-circle mb-2"
                             style="width: 250px; height: 250px; background-color: #e9ecef; display: flex; align-items: center; justify-content: center; cursor: pointer; overflow: hidden; position: relative; border-radius: 50%;"
                             th:style="'background-image: url(' + ${preview} + '); background-size: cover;'"
                             onclick="document.getElementById('fileInput').click();">
                            <img th:src="${preview}" alt="Preview"
                                 style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;"/>
                            <span th:unless="${preview}"
                                  style="font-size: 24px; color: #6c757d; cursor: pointer;">+</span>
                        </div>
                        <p>
                            <input type="file" id="fileInput" name="img" class="form-control"
                                   accept="image/png, image/jpeg, image/jpg" onchange="handleImageChange(this)"
                                   style="display: none;"/>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ten" class="form-label">Tên</label>
                                <input type="text" class="form-control" id="ten" name="ten" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ma" class="form-label">Mã</label>
                                <input type="text" class="form-control" id="ma" name="ma" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sdt" class="form-label">SĐT</label>
                                <input type="text" class="form-control" id="sdt" name="sdt" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ngaySinh" class="form-label">Ngày Sinh</label>
                                <input type="date" class="form-control" id="ngaySinh" name="ngaySinh" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Giới Tính</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="" type="radio" name="gioiTinh" id="nam" value="true"
                                           checked>
                                    <label class="" for="nam">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="" type="radio" name="gioiTinh" id="nu" value="false">
                                    <label class="" for="nu">Nữ</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="cccd" class="form-label">CCCD</label>
                                <input type="text" class="form-control" id="cccd" name="cccd" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--                            <label for="diachi" class="form-label">Địa Chỉ</label>-->
                            <!--                    <div class="row g-3">-->
                            <!--                        <div class="col-md-4">-->
                            <!--                            <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">-->
                            <!--                                <option value="" selected>Chọn tỉnh thành</option>-->
                            <!--                                &lt;!&ndash; Các tùy chọn tỉnh thành &ndash;&gt;-->
                            <!--                            </select>-->
                            <!--                        </div>-->
                            <!--                        <div class="col-md-4">-->
                            <!--                            <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">-->
                            <!--                                <option value="" selected>Chọn quận huyện</option>-->
                            <!--                                &lt;!&ndash; Các tùy chọn quận huyện &ndash;&gt;-->
                            <!--                            </select>-->
                            <!--                        </div>-->
                            <!--                        <div class="col-md-4">-->
                            <!--                            <select class="form-select form-select-sm mb-3" id="ward" aria-label=".form-select-sm">-->
                            <!--                                <option value="" selected>Chọn phường xã</option>-->
                            <!--                                &lt;!&ndash; Các tùy chọn phường xã &ndash;&gt;-->
                            <!--                            </select>-->
                            <!--                        </div>-->
                            <!--                    </div>-->
                            <div class="form-group mt-3">
                                <label for="diachi" class="form-label">Địa chỉ</label>
                                <textarea class="form-control" id="diachi" name="diachi" rows="3" required></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Vai Trò</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="" type="radio" name="vaiTro" id="nhanVien" value="1"
                                           checked>
                                    <label class="" for="nhanVien">Nhân Viên</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="" type="radio" name="vaiTro" id="quanLi" value="0">
                                    <label class="" for="quanLi">Quản Lí</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 text-center">
                    <a th:href="@{/admin/nhan-vien}" class="btn btn-secondary">Đóng</a>
                    <button type="submit" class="btn btn-primary" onclick="return confirmsave()">Save</button>
                </div>
            </form>
        </div>
    </div>


</div>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script th:src="@{/assets/js/NhanVienAdd.js}"></script>
<!-- Template Javascript -->
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
