/*.status-inactive {*/
/*    display: inline-block;*/
/*    padding: 5px 10px;*/
/*    border: 1px solid red;*/
/*    border-radius: 20px;*/
/*    color: red;*/
/*    background-color: lightcoral;*/
/*}*/

/*.status-active {*/
/*    display: inline-block;*/
/*    padding: 5px 10px;*/
/*    border: 1px solid green;*/
/*    border-radius: 20px;*/
/*    color: green;*/
/*    background-color: lightgreen;*/
/*}*/
.table th, .table td {
    font-size: 14px;
    vertical-align: middle;
}

.table th:first-child, .table td:first-child {
    width: 5%;
}

.table td {
    white-space: nowrap;
}

.table img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
