<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{admin/fragments/head :: head}"></div>
    <!--<link rel="stylesheet" th:href="@{/assets/css/NhanVienAdd.css}"/>-->
    <style>
        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: none; /* Ẩn ban đầu */
            z-index: 1000;
        }

        .notification.show1 {
            display: block; /* Hiển thị khi có thông báo */
            animation: fadeOut 3s ease-out forwards; /* Animation fadeOut */
        }

        .progress-bar1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #fff;
            transition: width 3s linear; /* Thời gian hiển thị thanh progress */
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        .error {
            color: red;
            font-size: 14px;
        }
    </style>
    <link rel="icon"
          type="image/svg+xml"
          href="https://bizweb.dktcdn.net/100/048/601/themes/734017/assets/index-cate-icon-4.png?1610907247309"/>
</head>

<body>
<div class="flex">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show1 bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content flex-grow ml-64 p-4 bg-gray-200">
        <!-- Navbar Start -->
        <nav th:replace="~{admin/fragments/navbar :: nav}"></nav>
        <!-- Navbar End -->
        <div class="container mx-auto bg-white h-58 w-full m-auto mt-5 bg-white p-6 rounded-lg shadow-md h-88">
            <div class="text-center">
                <span class="col-md-11 fw-bold fs-3 text-center">Thông Tin Nhân Viên</span>
            </div>
            <form id="myForm" th:action="@{/admin/updateNhanVien/{id}(id=${nv.id})}" method="post"
                  class="row g-3" th:object="${nv}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="xyz col-md-12 d-flex">
                    <div class="col-md-4">
                        <h1 class="text-center fs-3">Ảnh Đại Diện</h1>
                        <br/>
                        <br/>
                        <br/>
                        <div class="d-flex flex-column align-items-center">
                            <div class="image-placeholder rounded-circle mb-2 bg-secondary"

                                 style="width: 250px; height: 250px; background-color: #484646; display: flex; align-items: center; justify-content: center; cursor: pointer; overflow: hidden; position: relative; border-radius: 50%;"
                                 th:style="'background-image: url('+*{anh} + '); background-size: cover;'"
                                 onclick="document.getElementById('fileInput').click();">
                                <img alt="Preview" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;"/>
                                <span style="font-size: 24px; color: #6c757d; cursor: pointer;"></span>
                            </div>
                            <p>
                                <input type="file" id="fileInput" name="img" class="form-control"
                                       accept="image/png, image/jpeg, image/jpg" onchange="handleImageChange(this)"
                                       style="display: none;"/>
                                <input id="anh" name="anh" rows="3" style="display: none"></input>

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <span for="ten" class="form-label">Tên</span>
                                    <input type="text" class="form-control" id="ten" th:field="*{ten}" oninput="validateForm()">
                                    <small class="error" id="tenError"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="sdt" class="form-label">SĐT</label>
                                    <input type="text" class="form-control" id="sdt" th:field="*{sdt}" oninput="validateForm()" disabled>
                                    <small class="error" id="sdtError"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="ngaySinh" class="form-label">Ngày Sinh</label>
                                    <input type="date" class="form-control" id="ngaySinh" th:field="*{ngaySinh}" oninput="validateForm()">
                                    <small class="error" id="ngaySinhError"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="cccd" class="form-label">CCCD</label>
                                    <input type="text" class="form-control" id="cccd" th:field="*{cccd}" oninput="validateForm()">
                                    <small class="error" id="cccdError"></small>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Giới Tính</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="gioiTinhNam"
                                               th:field="*{gioiTinh}" th:value="true">
                                        <label class="form-check-label" for="gioiTinhNam">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="gioiTinhNu"
                                               th:field="*{gioiTinh}" th:value="false">
                                        <label class="form-check-label" for="gioiTinhNu">Nữ</label>
                                    </div>
                                    <small class="error" id="gioiTinh-error"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" th:field="*{email}" disabled>
                                    <small class="error" id="emailError"></small>
                                </div>

                                <div class="col-md-12">
                                    <div class="abc">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="diachi" class="form-label">Địa chỉ:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm mb-3" id="city" aria-label="Chọn tỉnh thành" oninput="validateForm()" >
                                                    <option th:value="${thanhpho}" th:text="${thanhpho}"></option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <select class="form-select form-select-sm mb-3" id="district" aria-label="Chọn quận huyện" oninput="validateForm()">
                                                    <option th:value="${quan}" th:text="${quan}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-select form-select-sm mb-3" id="ward" aria-label="Chọn phường xã" oninput="validateForm()" >
<!--                                                    <option value="" selected>Chọn phường xã</option>-->
                                                    <option th:value="${phuong}" th:text="${phuong}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label >Địa chỉ Chi tiết:</label>
                                                <div class="form-group mt-3">
                                                    <textarea class="form-control" id="diachi" name="diachi" rows="3" oninput="validateForm()" th:text="${dcct}"></textarea>
                                                    <input id="dc" name="dc" rows="3" style="display: none" ></input>
                                                </div>
                                            </div>
                                        </div>
                                        <span id="dcError" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Vai Trò</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="vaiTroNhanVien"
                                               th:field="*{vaiTro}" th:value="1">
                                        <label class="form-check-label" for="vaiTroNhanVien">Nhân Viên</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="vaiTroQuanLi"
                                               th:field="*{vaiTro}" th:value="0">
                                        <label class="form-check-label" for="vaiTroQuanLi">Quản Lí</label>
                                    </div>
                                    <small class="error" id="vaiTro-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" text-center">
                    <a th:href="@{/admin/nhan-vien}" class="btn btn-secondary">Đóng</a>
                    <button type="button" class="btn btn-primary" id="confirmButtonupdate">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div id="notification1" class="notification">
        <span id="notification-text">Cập nhật Nhân Viên Thành Công!</span>
        <div id="progress-bar1" class="progress-bar1"></div>
    </div>
</div>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="@{/assets/js/NhanVienUpdate.js}"></script>
<!-- Template Javascript -->
<script src="@{/assets/js/main.js}"></script>
<script>
    document.getElementById('confirmButtonupdate').addEventListener('click', function () {
        if (validateForm()) {
            Swal.fire({
                title: 'Bạn có chắc chắn muốn thay đổi thông tin nhân viên?',
                text: "Bạn không thể hoàn tác hành động này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, tiếp tục!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Đã xác nhận!',
                        'Bạn đã thay đổi thông tin nhân viên.',
                        'success'
                    ).then(() => {
                        update(); // Corrected function name
                    });
                } else {
                    Swal.fire(
                        'Đã hủy!',
                        'Hành động của bạn đã bị hủy.',
                        'error'
                    );
                }
            });
        }
    });

    function update() {
        const form = document.getElementById('myForm');
        const formData = new FormData(form);
        axios.post('/admin/updateNhanVien/' + form.id.value, formData)
            .then(function (response) {
                showSuccessMessageUpdate();
            })
            .catch(function (error) {
                console.error('Error:', error);
                // Handle error here
                Swal.fire(
                    'Lỗi!',
                    'Đã xảy ra lỗi trong quá trình cập nhật.',
                    'error'
                );
            });
    }

    function showSuccessMessageUpdate() {
        const notification = document.getElementById('notification1');
        notification.classList.add('show1');
        const progressBar = document.getElementById('progress-bar1');
        progressBar.style.width = '0';
        setTimeout(function () {
            progressBar.style.width = '100%';
        }, 100);

        setTimeout(function () {
            notification.classList.remove('show1');
            window.location.href = '/admin/nhan-vien';
        }, 3000);
    }

    function validateForm() {
        var ten = document.getElementById('ten').value.trim();
        var sdt = document.getElementById('sdt').value.trim();
        var email = document.getElementById('email').value.trim();
        var cccd = document.getElementById('cccd').value.trim();
        var ngaySinh = document.getElementById('ngaySinh').value.trim();
        var city = document.getElementById('city').value.trim();
        var district = document.getElementById('district').value.trim();
        var ward = document.getElementById('ward').value.trim();
        var diachi = document.getElementById('diachi').value.trim();
        var isValid = true;
        if ( city === ''||district === ''|| ward === '' ||diachi === '') {
            document.getElementById('dcError').textContent = 'Vui lòng nhập đầy đủ địa chỉ';
            isValid = false;
        }
        else {
            document.getElementById('dcError').textContent = '';
        }
        // Validate Tên
        if (ten === '') {
            document.getElementById('tenError').textContent = 'Vui lòng nhập Tên';
            isValid = false;
        } else if (ten.length < 5 || ten.length > 50) {
            document.getElementById('tenError').textContent = 'Tên phải từ 5 đến 50 ký tự';
            isValid = false;
        } else if (!/^[a-zA-ZÀ-Ỹà-ỹ ]+$/.test(ten)) {
            document.getElementById('tenError').textContent = 'Tên phải là chữ';
            isValid = false;
        } else {
            document.getElementById('tenError').textContent = '';
        }


        // Validate SĐT
        if (sdt === '') {
            document.getElementById('sdtError').textContent = 'Vui lòng nhập SĐT';
            isValid = false;
        } else if (!/^\d{10}$/.test(sdt)) {
            document.getElementById('sdtError').textContent = 'SĐT không hợp lệ';
            isValid = false;
        } else {
            document.getElementById('sdtError').textContent = '';
        }

        // Validate Email
        if (email === '') {
            document.getElementById('emailError').textContent = 'Vui lòng nhập Email';
            isValid = false;
        } else if (!/\S+@\S+\.\S+/.test(email)) { // Kiểm tra định dạng Email
            document.getElementById('emailError').textContent = 'Email không hợp lệ';
            isValid = false;
        } else {
            document.getElementById('emailError').textContent = '';
        }

        // Validate CCCD
        if (cccd === '') {
            document.getElementById('cccdError').textContent = 'Vui lòng nhập CCCD';
            isValid = false;
        } else if (!/^\d{9,12}$/.test(cccd)) { // Kiểm tra CCCD có từ 9 đến 12 chữ số
            document.getElementById('cccdError').textContent = 'CCCD phải có từ 9 đến 12 chữ số';
            isValid = false;
        } else {
            document.getElementById('cccdError').textContent = '';
        }

        // Validate Ngày Sinh
        if (ngaySinh === '') {
            document.getElementById('ngaySinhError').textContent = 'Vui lòng chọn Ngày Sinh';
            isValid = false;
        } else {
            document.getElementById('ngaySinhError').textContent = '';

            // Kiểm tra tuổi từ ngày sinh
            var age = calculateAge(ngaySinh);
            if (age < 18) {
                document.getElementById('ngaySinhError').textContent = 'Bạn phải đủ 18 tuổi trở lên';
                isValid = false;
            }
            else if (age > 60) {
                document.getElementById('ngaySinhError').textContent = ' tuổi Phải Nhỏ hơn 60';
                isValid = false;
            }
        }

        return isValid;
    }

    function calculateAge(birthday) {
        var birthDate = new Date(birthday);

        if (isNaN(birthDate.getTime())) {
            return NaN;
        }

        var today = new Date();
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();

        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        return age;
    }

</script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "json", // Chỉnh responseType thành json để nhận dữ liệu JSON trực tiếp
    };

    // Gửi request lấy dữ liệu
    axios(Parameter).then(function (response) {
        renderCity(response.data); // Gọi hàm renderCity khi có dữ liệu trả về
    }).catch(function (error) {
        console.error('Error fetching data: ', error);
    });

    function renderCity(data) {
        // Hàm để render danh sách các tỉnh/thành phố vào dropdown citis
        data.forEach(function (city) {
            citis.options[citis.options.length] = new Option(city.Name, city.Id);
        });

        // Sự kiện khi chọn tỉnh/thành phố
        citis.onchange = function () {
            clearOptions(districts); // Xóa các option cũ của districts
            clearOptions(wards); // Xóa các option cũ của wards

            // Lọc ra thông tin của tỉnh/thành phố được chọn
            var selectedCity = data.find(function (city) {
                return city.Id === citis.value;
            });

            if (selectedCity) {
                // Log tên của tỉnh/thành phố được chọn
                console.log("Selected city:", selectedCity.Name);

                // Render các quận/huyện vào dropdown districts
                selectedCity.Districts.forEach(function (district) {
                    districts.options[districts.options.length] = new Option(district.Name, district.Id);
                });
            }
        };

        // Sự kiện khi chọn quận/huyện
        districts.onchange = function () {
            clearOptions(wards); // Xóa các option cũ của wards

            // Lấy thông tin của tỉnh/thành phố được chọn
            var selectedCity = data.find(function (city) {
                return city.Id === citis.value;
            });

            if (selectedCity) {
                // Lọc ra thông tin của quận/huyện được chọn
                var selectedDistrict = selectedCity.Districts.find(function (district) {
                    return district.Id === districts.value;
                });

                if (selectedDistrict) {
                    // Log tên của quận/huyện được chọn
                    console.log("Selected district:", selectedDistrict.Name);

                    // Render các phường/xã vào dropdown wards
                    selectedDistrict.Wards.forEach(function (ward) {
                        wards.options[wards.options.length] = new Option(ward.Name, ward.Id);

                    });
                }
            }
        };
        wards.onchange = function () {
            // Lấy thông tin của tỉnh/thành phố được chọn
            var selectedCity = data.find(function (city) {
                return city.Id === citis.value;
            });

            if (selectedCity) {
                // Lọc ra thông tin của quận/huyện được chọn
                var selectedDistrict = selectedCity.Districts.find(function (district) {
                    return district.Id === districts.value;
                });

                if (selectedDistrict) {
                    var selectedWard = selectedDistrict.Wards.find(function (ward) {
                        return ward.Id === wards.value;
                    });

                    if (selectedWard) {
                        // Tạo chuỗi để log các thông tin
                        var logString = selectedWard.Name ;
                        logString += "," + selectedDistrict.Name ;
                        logString += "," + selectedCity.Name;

                        // Log chuỗi kết quả ra console
                        console.log(logString);
                        var logTextarea = document.getElementById("dc");
                        logTextarea.value = logString;

                        // Ẩn textarea
                        logTextarea.style.display = "none";
                    }
                }
            }
        };


    }


    function clearOptions(selectElement) {
        for (var i = selectElement.options.length - 1; i > 0; i--) {
            selectElement.remove(i);
        }
    }
    function updateImagePreview(imageUrl) {
        const imagePlaceholder = document.querySelector('.image-placeholder');
        if (imagePlaceholder) {
            imagePlaceholder.style.backgroundImage = `url(${imageUrl})`;
            imagePlaceholder.querySelector('img').src = imageUrl;
        }
    }

    function handleImageChange(input) {
        if (input.files && input.files[0]) {
            const file = input.files[0];
            uploadImage(file);
        }
    }
    function uploadImage(file) {
        var formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", "hwsotqf9");

        return $.ajax({
            url: "https://api.cloudinary.com/v1_1/deapopcoc/image/upload",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
        })
            .done(function (response) {
                const pElement = document.getElementById('anh');
                console.log(response.secure_url);
                if (response && response.secure_url) {
                    updateImagePreview(response.secure_url);
                    pElement.value = response.secure_url;
                    pElement.style.display = "none"
                } else {
                    console.error("Không có secure_url trong phản hồi:", response);
                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.error("Lỗi khi tải ảnh:", textStatus, errorThrown);
            });
    }
</script>




</body>

</html>
